{% macro categoryContainer(translations) %}

<div class="flex justify-center mt-4">
    <select
        class="select select-bordered w-72 text-rose-500"
        onchange="location = this.value;"
    >
        <option selected disabled>{{ translations.createPost.category }}</option>
        <option value="/">{{ translations.categories.all }}</option>
        <option value="/category/Apps">{{ translations.categories.apps }}</option>
        <option value="/category/Art">{{ translations.categories.art }}</option>
        <option value="/category/Books">{{ translations.categories.books }}</option>
        <option value="/category/Business">{{ translations.categories.business }}</option>
        <option value="/category/Code">{{ translations.categories.code }}</option>
        <option value="/category/Education">{{ translations.categories.education }}</option>
        <option value="/category/Finance">{{ translations.categories.finance }}</option>
        <option value="/category/Foods">{{ translations.categories.foods }}</option>
        <option value="/category/Games">{{ translations.categories.games }}</option>
        <option value="/category/Health">{{ translations.categories.health }}</option>
        <option value="/category/History">{{ translations.categories.history }}</option>
        <option value="/category/Movies">{{ translations.categories.movies }}</option>
        <option value="/category/Music">{{ translations.categories.music }}</option>
        <option value="/category/Nature">{{ translations.categories.nature }}</option>
        <option value="/category/Science">{{ translations.categories.science }}</option>
        <option value="/category/Series">{{ translations.categories.series }}</option>
        <option value="/category/Sports">{{ translations.categories.sports }}</option>
        <option value="/category/Technology">{{ translations.categories.technology }}</option>
        <option value="/category/Travel">{{ translations.categories.travel }}</option>
        <option value="/category/Web">{{ translations.categories.web }}</option>
        <option value="/category/Other">{{ translations.categories.other }}</option>
    </select>
</div>
{% endmacro %}
