{% macro categoryContainer(translations, category) %}

<div class="dropdown">
    <div
        tabindex="0"
        role="button"
        class="btn w-full md:w-fit text-base-content"
    >
        {{ category }}
    </div>
    <ul
        tabindex="0"
        class="dropdown-content menu bg-base-100 rounded-box z-1 w-72 p-2 shadow-sm"
    >
        <li>
            <a onclick="location = '/'">{{ translations.categories.all }}</a>
        </li>
        <li>
            <a onclick="location = '/category/Apps'"
                >{{ translations.categories.apps }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Art'"
                >{{ translations.categories.art }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Books'"
                >{{ translations.categories.books }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Business'"
                >{{ translations.categories.business }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Code'"
                >{{ translations.categories.code }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Education'"
                >{{ translations.categories.education }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Finance'"
                >{{ translations.categories.finance }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Foods'"
                >{{ translations.categories.foods }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Games'"
                >{{ translations.categories.games }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Health'"
                >{{ translations.categories.health }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/History'"
                >{{ translations.categories.history }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Movies'"
                >{{ translations.categories.movies }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Music'"
                >{{ translations.categories.music }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Nature'"
                >{{ translations.categories.nature }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Science'"
                >{{ translations.categories.science }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Series'"
                >{{ translations.categories.series }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Sports'"
                >{{ translations.categories.sports }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Technology'"
                >{{ translations.categories.technology }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Travel'"
                >{{ translations.categories.travel }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Web'"
                >{{ translations.categories.web }}</a
            >
        </li>
        <li>
            <a onclick="location = '/category/Other'"
                >{{ translations.categories.other }}</a
            >
        </li>
    </ul>
</div>
{% endmacro %}
