{% macro flash() %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/flash.css') }}"
/>

<div
    id="flashContainer"
    class="fixed w-fit text-center md:text-xl select-none z-50"
>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div
                    role="alert"
                    class="alert shadow-md {% if category == 'success' %}alert-success{% else %}alert-error{% endif %}"
                >
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endmacro %}
