<div
    class="w-11/12 lg:w-10/12 xl:w-9/12 2xl:w-8/12 flex items-center justify-between mt-8 lg:mt-4 text-2xl font-medium select-none mx-auto"
>
    <a href="/" class="duration-150">
        <img
            src="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/main/images/Icon180.ico"
            class="rounded w-14 hover:scale-110 duration-150 shadow"
        />
    </a>

    <div class="hidden md:block">
        <input
            type="text"
            id="searchInput"
            autocomplete="off"
            placeholder="{{translations.searchBar.placeholder}}"
            class="input input-bordered w-64"
        />
        <button onclick="search()" class="btn btn-neutral">
            <i class="ti ti-search text-2xl"></i>
        </button>
    </div>

    <div class="flex items-center justify-center gap-4 font-medium select-none">
        <div class="block md:hidden">
            <a href="/search_bar"><i class="ti ti-search text-2xl"></i></a>
        </div>

        {% if session["user_name"] %}
        <a href="/user/{{ session['user_name'].lower() }}">
            <div>
                <img
                    class="block w-7 h-7"
                                            src="{{ get_profile_picture(session['user_name']) }}"
                />
            </div>
        </a>

        <a href="/create_post" class="text-center">
            <button class="hover:text-rose-500 duration-150">
                <i class="ti ti-pencil-plus text-2xl"></i>
            </button>
        </a>

        <a
            href="/logout"
            title="logout"
            class="hover:text-rose-500 duration-150"
        >
            <i class="ti ti-logout text-2xl"></i>
        </a>

        {% elif hideLogin %} {% if is_registration %}
        <a href="/signup">
            <button class="hover:text-rose-500 duration-150">
                <i class="ti ti-user-plus text-2xl"></i>
            </button>
        </a>
        {% endif %} {% elif hideSignUp %} {% if is_login %}
        <a href="/login/redirect=&">
            <button class="hover:text-rose-500 duration-150">
                <i class="ti ti-login text-2xl"></i>
            </button>
        </a>
        {% endif %} {% else %} {% if is_login %}
        <a href="/login/redirect=&">
            <button class="hover:text-rose-500 duration-150">
                <i class="ti ti-login text-2xl"></i>
            </button>
        </a>
        {% endif %} {% if is_registration %}
        <a href="/signup">
            <button class="hover:text-rose-500 duration-150">
                <i class="ti ti-user-plus text-2xl"></i>
            </button>
        </a>
        {% endif %} {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</div>
