{% macro sortMenu(sortName,source,translations) %}
<div class="dropdown">
    <div
        tabindex="0"
        role="button"
        class="btn w-full md:w-fit text-base-content"
    >
        {{sortName}}
    </div>
    <ul
        tabindex="0"
        class="dropdown-content menu bg-base-100 rounded-box z-1 w-full md:w-fit p-2 shadow-sm"
    >
        <li class="menu-title">{{ translations.sortMenu.desc }}</li>
        <li>
                            <a onclick="location = '{{source}}/by=time_stamp/sort=desc'">
                {{ translations.sortMenu.create }}
            </a>
        </li>
        <li>
            <a onclick="location = '{{source}}/by=title/sort=desc'">
                {{ translations.sortMenu.title }}
            </a>
        </li>
        <li>
            <a onclick="location = '{{source}}/by=views/sort=desc'">
                {{ translations.sortMenu.views }}
            </a>
        </li>
        <li>
            <a onclick="location = '{{source}}/by=category/sort=desc'">
                {{ translations.sortMenu.category }}
            </a>
        </li>
        <li>
                            <a onclick="location = '{{source}}/by=last_edit_time_stamp/sort=desc'">
                {{ translations.sortMenu.edit }}
            </a>
        </li>
        <li>
            <a onclick="location = '{{source}}/by=hot/sort=desc'">
                {{ translations.sortMenu.hot }}
            </a>
        </li>

        <li class="menu-title">{{ translations.sortMenu.asc }}</li>
        <li>
                            <a onclick="location = '{{source}}/by=time_stamp/sort=asc'">
                {{ translations.sortMenu.create }}
            </a>
        </li>
        <li>
            <a onclick="location = '{{source}}/by=title/sort=asc'">
                {{ translations.sortMenu.title }}
            </a>
        </li>
        <li>
            <a onclick="location = '{{source}}/by=views/sort=asc'">
                {{ translations.sortMenu.views }}
            </a>
        </li>
        <li>
            <a onclick="location = '{{source}}/by=category/sort=asc'">
                {{ translations.sortMenu.category }}
            </a>
        </li>
        <li>
                            <a onclick="location = '{{source}}/by=last_edit_time_stamp/sort=asc'">
                {{ translations.sortMenu.edit }}
            </a>
        </li>
        <li>
            <a onclick="location = '{{source}}/by=hot/sort=asc'">
                {{ translations.sortMenu.hot }}
            </a>
        </li>
    </ul>
</div>
{% endmacro %}
