{% extends 'layout.html'%} {%block head%}
<title>About {{appName}}</title>
{% endblock head %} {%block body%}
<div class="errorMessage">
  <a
    href="https://dogukanurker.com/flaskblog"
    target="_blank"
    class="textPrimary"
  >
    {{appName}}
  </a>
  <div>
    Simple blog app made with Flask, SQLite3, WTForms, Passlib, reCAPTCHA,
    Requests, TailwindCSS, Tabler Icons
  </div>
  <div>
    <a
      href="https://github.com/DogukanUrker/flaskBlog"
      target="_blank"
      class="textPrimary"
      >Click for more information about {{appName}} on GitHub
    </a>
  </div>
  <!-- Please respect this code’s originality and credit the original repo. Thanks for your cooperation. 💜 -->
  <div>
    Made with 💖 by
    <a href="https://dogukanurker.com/" target="_blank" class="textPrimary"
      >Dogukan Urker</a
    >
    <br />
    <a
      href="https://github.com/DogukanUrker/flaskBlog"
      target="_blank"
      class="textPrimary"
      >source repo</a
    >
  </div>
</div>
{% endblock body %}
