{% extends 'layout.html'%} {%block head%}
<title>Account Settings</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/adminPanel.css') }}"
/>
{% endblock head %} {%block body%}
<div class="toPanelsContainer">
  <h2>
    <a href="/changeusername" class="toPanel textPrimary">change username</a>
  </h2>
  <h2>
    <a href="/changepassword" class="toPanel textPrimary">change password</a>
  </h2>
  <h2>
    <a href="/changeprofilepicture" class="toPanel textPrimary"
      >change profile picture</a
    >
  </h2>
  <h2>
    {% if recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
    <form method="post" id="recaptchaForm">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button
        type="submit"
        data-sitekey="{{ siteKey }}"
        data-callback="onSubmit"
        data-action="submit"
        class="g-recaptcha toPanel textPrimary"
      >
        delete account
      </button>
    </form>
    {% else %}
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" class="toPanel textPrimary">
        delete account
      </button>
    </form>
    {% endif %}
  </h2>
</div>
{% endblock body %}
