{% extends 'layout.html'%} {%block head%}
<title>Admin Panel</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/adminPanel.css') }}"
/>
{% endblock head %} {%block body%}
<div class="usersContainer">
  <h1 class="textCenter">Users</h1>
  {% for user in users %}
  <div class="userContainer">
    <section class="stats">
      <p>ID: {{user[0]}}</p>
      <p>Role: {{user[5]}}</p>
    </section>
    <section class="stats">
      <p>
        User Name:
        <a href="/user/{{user[1].lower()}}" class="textPrimary">{{user[1]}}</a>
      </p>
      <img src="{{user[4]}}" alt="{{user[1]}}" class="picture" />
    </section>
    <section class="stats">
      <p>email: {{user[2]}}</p>
      <p>Points: {{user[6]}}</p>
    </section>
    <section class="stats">
      <p>Join Date: {{user[7]}}</p>
      <p>Join Time: {{user[8]}}</p>
    </section>
    <section class="stats">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="userName" value="{{user[1]}}" />
        <button
          type="submit"
          name="userDeleteButton"
          class="textPrimary deleteUserButton"
        >
          delete user
        </button>
      </form>
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="userName" value="{{user[1]}}" />
        <button
          type="submit"
          name="userRoleChangeButton"
          class="textPrimary deleteUserButton"
        >
          {% if user[5] == "admin" %} set user role to user {% else %} set user
          role to admin {% endif %}
        </button>
      </form>
    </section>
  </div>
  {% endfor %}
</div>
<a href="/admin" class="btn btnLink textPrimary goBackToAdmin"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-6 h-6"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"
    />
  </svg>
</a>
{% endblock body %}
