{% extends 'layout.html'%} {%block head%}
<title>Change Username</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/submit.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  {% if recaptcha %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
  <form method="post" class="form" id="recaptchaForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.newUserName(class_="input")}}
    <button
      type="submit"
      data-sitekey="{{ siteKey }}"
      data-callback="onSubmit"
      data-action="submit"
      class="g-recaptcha btn btnPrimary"
    >
      change my username
    </button>
  </form>
  {% else %}
  <form method="post" class="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.newUserName(class_="input")}}
    <button type="submit" class="btn btnPrimary">change my username</button>
  </form>
  {% endif %}
</div>
{% endblock body %}
