{% extends 'layout.html'%} {%block head%}
<title>Change Password</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/submit.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  <form method="post" class="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.oldPassword(class_="input")}} {{form.password(class_="input")}}
    {{form.passwordConfirm(class_="input")}}
    <button type="submit" class="btn btnPrimary">change my password</button>
  </form>
</div>
{% endblock body %}
