<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/main/images/Icon180.ico"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/general.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.46.0/tabler-icons.min.css"
    />
    {% block head %} {% endblock head %}
  </head>
  <body>
    {% include 'changeTheme.html'%} {% include 'navbar.html'%} {% include
    'flash.html'%} {% block body %} {% endblock body %}
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/editor.css') }}"
    />
  </body>
</html>
