{% extends 'layout.html'%} {%block head%}
<title>Password Reset</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/submit.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  <form method="post" class="form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if mailSent %} {{form.code(autocomplete="off",class_="input")}}
    {{form.password(autocomplete="off",class_="input")}}
    {{form.passwordConfirm(autocomplete="off",class_="input")}}
    <button type="submit" class="btn btnPrimary">Reset password</button> {% else
    %} {{form.userName(class_="input",autocomplete="off")}}
    {{form.email(class_="input",autocomplete="off")}}
    <button type="submit" class="btn btnPrimary">Send code</button>
    {% endif %}
  </form>
</div>
{% endblock body %}
