{% extends 'layout.html'%} {%block head%}
<title>Search</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/search.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  <div class="searchBar searchBarPage">
    <input
      type="text"
      id="searchBarInput"
      class="input"
      autocomplete="off"
      placeholder="search"
    /><button onclick="searchBar()" class="btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-search mt-4"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
        <path d="M21 21l-6 -6" />
      </svg>
    </button>
  </div>
</div>
<script src="{{ url_for('static', filename='js/searchBar.js') }}"></script>
{% endblock body %}
