{% extends 'layout.html'%} {%block head%}
<title>Search</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/search.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  <div class="searchBar searchBarPage">
    <input
      type="text"
      id="searchBarInput"
      class="input"
      autocomplete="off"
      placeholder="search"
    /><button onclick="searchBar()" class="btn">
      <i class="ti ti-search"></i>
    </button>
  </div>
</div>
<script src="{{ url_for('static', filename='js/searchBar.js') }}"></script>
{% endblock body %}
