.content {
    -webkit-line-clamp: 2;
}

section, .info {
    display: flex;
    justify-content: space-between;
}

.info p {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
}

a {
    margin: 0 !important;
}