:root {
  --dark: #141410;
  --light: #fffafa;
  --mainColor: #5946b2;
}

* {
  font-family: "Roboto Mono", monospace;
  color: #fffafa;
}

html {
  font-size: 125% !important;
}

body {
  background-color: var(--dark);
}


a {
  text-decoration: none;
}



.form {
  padding-top: 0.7rem;
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.5rem;
}

#flash {
  text-align: center;
  display: inline-block;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.error {
  background-color: #c40233;
}

.success {
  background-color: #009f6b;
}