* {
  font-family: "Roboto Mono", monospace;
  color: #fffafa;
}

body {
  background-color: #141410;
}

input {
  margin-bottom: 1rem;
  border: 0px;
  border-radius: 1rem;
  height: 2rem;
  width: 14rem;
  text-align: center;
  display: block;
  color: #141410;
}
.btnSubmit {
  margin-top: 0.5rem;
  height: 2rem;
  width: 6rem;
  border: 0px;
  border-radius: 0.3rem;
  transition: 0.3s;
  background-color: #00adb5;
}
.btnSubmit:hover {
  color: #00adb5;
  background-color: #393e46;
}

.form {
  padding-top: 0.7rem;
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  padding: 0.5rem;
}

#flash {
  text-align: center;
  display: inline-block;
  width: fit-content;
  border-radius: 0.5rem;
}

.error {
  background-color: #d00000;
}

.success {
  background-color: #06ba63;
}
