.navbar {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btnHome {
  margin-left: 12rem;
  order: 1;
  text-decoration: none;
}

.btnHome:hover {
  color: grey;
}

.btns {
  margin-right: 12rem;
  order: 5;
}

.btn {
  height: 2rem;
  width: 5rem;
  border-radius: 2rem;
  border: 0px;
  transition: 0.3s;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background-color: #fffafa;
}

.btnLogin {
  background-color: #f77f00;
}

.btnSignUp {
  background-color: #7a28cb;
}

.btnAccount {
  width: fit-content;
  background-color: #f77f00;
}

.btnSignUp:hover {
  color: #7a28cb;
}
.btnLogin:hover,
.btnAccount:hover {
  color: #f77f00;
}
