.navbar {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btns {
  margin-right: 12rem;
  order: 5;
}

.btn {
  height: 2rem;
  width: 5rem;
  border-radius: 2rem;
  border: 0px;
  transition: 0.3s;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: transparent;
}

.btnHome {
  text-align: center;
  margin-left: 12rem;
  order: 1;
  text-decoration: none;
  font-size: 2rem;
}

.btnHome:hover {
  color: grey;
}

.btnLogin {
  color: var(--mainColor);
}

.btnSignUp {
  background-color: var(--mainColor);
}

.btnAccount {
  width: fit-content;
  display: inline-block;
  position: relative;
}

.btnSignUp:hover {
  color: var(--mainColor);
  background-color: var(--light);
}

.btnLogin:hover {
  color: var(--light);
}

.dropdown {
  padding-top: 0.5rem;
  height: 2rem;
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}

.btnAccount:hover .dropdown {
  display: block;
}

.userName {
  color: var(--mainColor);
  transition: 0.3s;
}

.userName:hover {
  color: var(--light);
}

.btnPost {
  color: var(--secondaryColor);
  margin-right: 1rem;
}

.btnPost:hover {
  color: var(--light);
}