.post {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.title {
  font-size: 2rem;
}

.content {
  font-size: 1rem;
}

.bottomBar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}