{% macro flash() %}
<!-- Macro for displaying flash messages with associated styling -->

<!-- Include the stylesheet for flash messages -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}" />

<!-- Container for flash messages with fixed position, width, and text centering -->
<div id="flashContainer" class="fixed w-fit text-center md:text-xl select-none z-50 shadow-md">
  {% with messages = get_flashed_messages(with_categories=true) %}
  <!-- Check if there are flashed messages -->
  {% if messages %}
  <!-- Loop through each flashed message and display with appropriate styling -->
  {% for category, message in messages %}
  {% if category == "success" %}
  <!-- Success message with green text and background -->
  <p id="flash" class="text-green-500 bg-green-200 rounded p-2 font-medium">
    {{ message }}
  </p>
  {% else %}
  <!-- Error message with red text and background -->
  <p id="flash" class="text-red-500 bg-red-200 rounded p-2 font-medium">
    {{ message }}
  </p>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
{% endmacro %}