<div
  class="w-11/12 lg:w-10/12 xl:w-9/12 2xl:w-8/12 flex items-center justify-between mt-8 lg:mt-4 text-2xl font-medium select-none mx-auto">
  <!-- Logo with a link to the home page -->
  <a href="/" class="duration-150">
    <img src="https://raw.githubusercontent.com/DogukanUrker/flaskBlog/main/images/Icon180.ico"
      class="rounded w-14 hover:scale-110 duration-150 shadow">
  </a>

  <!-- Search bar (hidden on smaller screens) -->
  <div class="hidden md:block">
    <input type="text" id="searchInput" autocomplete="off" placeholder="search"
      class="w-64 h-10 m-2 rounded-md p-2 text-center outline-rose-500 bg-transparent focus:outline-none focus:ring focus:ring-rose-500 duration-150" />
    <button onclick="search()" class="hover:text-rose-500 duration-150">
      <i class="ti ti-search text-2xl"></i>
    </button>
  </div>

  <!-- User-related actions and navigation links -->
  <div class="flex items-center justify-center gap-4 font-medium select-none">
    <!-- Search icon (visible on smaller screens) -->
    <div class="block md:hidden">
      <a href="/searchbar"><i class="ti ti-search text-2xl"></i></a>
    </div>

    <!-- If the user is logged in -->
    {% if session["userName"] %}
    <!-- Link to the user's profile with profile picture -->
    <a href="/user/{{ session['userName'].lower() }}">
      <div>
        <img class="block w-7 h-7" src="{{ getProfilePicture(session['userName']) }}" />
      </div>
    </a>

    <!-- Button to create a new post -->
    <a href="/createpost" class="text-center">
      <button class="hover:text-rose-500 duration-150">
        <i class="ti ti-pencil-plus text-2xl"></i>
      </button>
    </a>

    <!-- Logout button -->
    <a href="/logout" title="logout" class="hover:text-rose-500 duration-150">
      <i class="ti ti-logout text-2xl"></i>
    </a>

    <!-- If the user is not logged in -->
    {% elif hideLogin %}
    <!-- Depending on the condition, show or hide the login and signup buttons -->
    {% if isRegistration %}
    <a href="/signup">
      <button class="hover:text-rose-500 duration-150">
        <i class="ti ti-user-plus text-2xl"></i>
      </button>
    </a>
    {% endif %}

    {% elif hideSignUp %}
    {% if isLogin %}
    <a href="/login/redirect=&">
      <button class="hover:text-rose-500 duration-150">
        <i class="ti ti-login text-2xl"></i>
      </button>
    </a>
    {% endif %}

    {% else %}
    <!-- Show both login and signup buttons -->
    {% if isLogin %}
    <a href="/login/redirect=&">
      <button class="hover:text-rose-500 duration-150">
        <i class="ti ti-login text-2xl"></i>
      </button>
    </a>
    {% endif %}

    {% if isRegistration %}
    <a href="/signup">
      <button class="hover:text-rose-500 duration-150">
        <i class="ti ti-user-plus text-2xl"></i>
      </button>
    </a>
    {% endif %}
    {% endif %}
  </div>

  <!-- Include the JavaScript file for navbar functionality -->
  <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</div>