{% macro postCard(post,authorProfilePicture) %}
<div
  class="w-[17rem] group flex flex-col justify-between h-min-max mx-auto rounded-md overflow-hidden shadow-lg hover:scale-105 transition duration-150 "
>
  <div class="overflow-hidden">
    <img
      src="{{ url_for('returnPostBanner.returnPostBanner', postID = post[0]) }}"
      class="h-48 group-hover:scale-110 transition duration-150 object-cover w-max rounded-t-md mx-auto select-none"
    />
  </div>
  <div class="px-2 mt-1">
    <a
      href="/post/{{post[0]}}"
      class="text-rose-500 text-lg hover:text-rose-500/75 duration-150 break-words font-medium"
      >{{post[1]}}</a
    >
  </div>
  <div class="text-base px-2 overflow-y-hidden h-32">
    {{post[3]|safe}}
  </div>
  <div class="flex justify-between text-sm font-medium px-2 select-none">
    <div class="my-2 flex items-center w-fit gap-2 ">
      <img class="block w-8 h-8" src="{{ authorProfilePicture }}" />
      <a href="/user/{{post[5]}}">{{post[5]}}</a>
    </div>
    <div class="flex items-center">
      <div class="mr-1 text-base">
        {% if post[9] == 'Games' %}
        <a href="/category/Games"
          ><i
            class="ti ti-device-gamepad text-rose-500 hover:text-rose-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'History' %}
        <a href="/category/History"
          ><i
            class="ti ti-books text-sky-500 hover:text-sky-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Science' %}
        <a href="/category/Science"
          ><i
            class="ti ti-square-root-2 text-emerald-500 hover:text-emerald-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Code' %}
        <a href="/category/Code"
          ><i
            class="ti ti-code text-indigo-500 hover:text-indigo-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Technology' %}
        <a href="/category/Technology"
          ><i
            class="ti ti-cpu text-slate-500 hover:text-slate-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Education' %}
        <a href="/category/Education"
          ><i
            class="ti ti-school text-blue-500 hover:text-blue-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Sports' %}
        <a href="/category/Sports"
          ><i
            class="ti ti-shirt-sport text-cyan-500 hover:text-cyan-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Foods' %}
        <a href="/category/Foods"
          ><i
            class="ti ti-meat text-lime-500 hover:text-lime-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Health' %}
        <a href="/category/Health"
          ><i
            class="ti ti-heartbeat text-red-500 hover:text-red-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Apps' %}
        <a href="/category/Apps"
          ><i
            class="ti ti-apps text-pink-500 hover:text-pink-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Movies' %}
        <a href="/category/Movies"
          ><i
            class="ti ti-movie text-teal-500 hover:text-teal-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Series' %}
        <a href="/category/Series"
          ><i
            class="ti ti-player-play text-yellow-500 hover:text-yellow-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Travel' %}
        <a href="/category/Travel"
          ><i
            class="ti ti-plane text-zinc-500 hover:text-zinc-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Books' %}
        <a href="/category/Books"
          ><i
            class="ti ti-book text-violet-500 hover:text-violet-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Music' %}
        <a href="/category/Music"
          ><i
            class="ti ti-music text-orange-500 hover:text-orange-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Nature' %}
        <a href="/category/Nature"
          ><i
            class="ti ti-trees text-emerald-500 hover:text-emerald-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Art' %}
        <a href="/category/Art"
          ><i
            class="ti ti-brush text-amber-500 hover:text-amber-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Finance' %}
        <a href="/category/Finance"
          ><i
            class="ti ti-coin text-green-500 hover:text-green-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Business' %}
        <a href="/category/Business"
          ><i
            class="ti ti-tie text-stone-500 hover:text-stone-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Web' %}
        <a href="/category/Web"
          ><i
            class="ti ti-world text-purple-500 hover:text-purple-600 duration-150"
          ></i
        ></a>
        {% elif post[9] == 'Other' %}
        <a href="/category/Other"
          ><i
            class="ti ti-cpu text-gray-500 hover:text-gray-600 duration-150"
          ></i
        ></a>
        {% else %}
        <a href="/"
          ><i
            class="ti ti-stack-2 text-neutral-500 hover:text-neutral-600 duration-150"
          ></i
        ></a>
        {% endif %}
      </div>
      <p class="date">{{post[7]}}</p>
    </div>
  </div>
</div>

{% endmacro %}
