.note-btn-group * {
  color: black;
}

.note-editable {
  color: black !important;
  background-color: white;
  text-align: left !important;
}

.note-editable * {
  color: black !important;
}

.note-modal-content * {
  color: black !important;
}

.note-editor {
  width: 37.22rem;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .note-editor {
    width: 90%;
  }
}
