/* <!-- Spinner circle starts here --> */

.spinner-circle {
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* <!-- Spinner circle ends here--> */