/* Select all the anchor elements and set their left margin to 0rem */
a {
  margin-left: 0rem !important;
}

/* Select all the paragraph elements that are children of the section element and set their width to 50rem */
section p {
  width: 50rem !important;
}

/* Select all the elements with the class toPanel and set their font size to 1.5rem and font weight to bold */
.toPanel {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Select all the elements with the class deleteUserButton and set their font size to 1rem */
.deleteUserButton {
  font-size: 1rem;
}

/* Select all the elements with the class deleteUserButton or toPanel and set their cursor to pointer */
.deleteUserButton,
.toPanel {
  cursor: pointer;
}

/* Select all the elements with the class userContainer and set their display to block, text alignment to center, border to 1px solid primary color, border radius to 0.5rem, width to fit content, padding to 1rem and margin to 1rem auto */
.userContainer {
  display: block;
  text-align: center;
  border: 1px solid var(--primaryColor);
  border-radius: 0.5rem;
  width: fit-content;
  padding: 1rem;
  margin: 1rem auto 1rem auto;
}

/* Select all the elements with the class picture that are descendants of the element with the class userContainer and set their width to 2rem and height to 2rem */
.userContainer .picture {
  width: 2rem;
  height: 2rem;
}

/* Select all the elements with the class stats and set their display to flex, width to 22rem and justify content to space between */
.stats {
  display: flex;
  width: 22rem;
  justify-content: space-between;
}

/* Select all the paragraph elements and anchor elements that are children of the element with the class stats and set their text alignment to left and left margin to 1rem */
.stats p,
.stats a {
  text-align: left;
  margin-left: 1rem;
}

/* Select all the elements with the class toPanelsContainer and set their text alignment to center, position to absolute, transform to center, top to 50% and left to 50% and padding to 1rem */
.toPanelsContainer {
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
}

/* Use a media query to apply the following rules when the screen width is less than or equal to 600px */
@media screen and (max-width: 600px) {
  /* Select all the elements with the class userContainer and set their width to 90% */
  .userContainer {
    width: 90%;
  }

  /* Select all the elements with the class stats and set their width to 100% */
  .stats {
    width: 100%;
  }
}
