.changeThemeContainer {
  position: relative;
  user-select: none;
}

.changeTheme {
  font-size: 1rem;
  position: absolute;
  top: 6px;
  right: 3px;
  margin: 0;
}

@media screen and (min-width: 968px) {
  .changeTheme:hover {
    scale: 1.25;
  }
}
