/* Select all the elements with the class changeThemeContainer and set their position to relative and user-select to none */
.changeThemeContainer {
  position: relative;
  user-select: none;
}

/* Select all the elements with the class changeTheme and set their font size to 1rem, position to absolute, top to 6px, right to 3px and margin to 0 */
.changeTheme {
  font-size: 1rem;
  position: absolute;
  top: 6px;
  right: 3px;
  margin: 0;
}

/* Use a media query to apply the following rules when the screen width is greater than or equal to 968px */
@media screen and (min-width: 968px) {
  /* Select all the elements with the class changeTheme that are hovered and set their scale to 1.25 */
  .changeTheme:hover {
    scale: 1.25;
  }
}
