/* Select all the button elements and set their margin to 0 */
button {
  margin: 0 !important;
}

/* Select all the elements with the class section or info and set their display to flex and justify content to space between */
section,
.info {
  display: flex;
  justify-content: space-between;
}

/* Select all the elements with the class content and set their line clamp to 2 */
.content {
  -webkit-line-clamp: 2;
}

/* Select all the paragraph elements that are children of the element with the class info and set their margin to 1rem 0 0 0 and font size to 0.8rem */
.info p {
  margin: 1rem 0 0 0;
  font-size: 0.8rem;
}

/* Select all the elements with the class userDashboardNoPost and set their width to fit content and margin to 2rem auto */
.userDashboardNoPost {
  width: fit-content;
  margin: 2rem auto 2rem auto;
}

/* Select all the elements with the class tags and set their width to 80% and word wrap to break word */
.tags {
  width: 80%;
  word-wrap: break-word;
}
