/* Select all the elements with the class post and set their max-width to 35rem, max-height to fit content, top margin to 2rem, border to 1px solid theme primary color, border radius to 1rem and padding to 1rem */
.post {
  max-width: 35rem;
  max-height: fit-content;
  margin-top: 2rem;
  border: 1px solid var(--themePrimary);
  border-radius: 1rem;
  padding: 1rem;
}

/* Select all the elements with the class content and set their display to webkit box, overflow to hidden, line clamp to 8, box orient to vertical and margin to 1rem 0rem */
.content {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  margin: 1rem 0rem;
}

/* Select all the paragraph elements that are children of the element with the class content and set their display to inline */
.content p {
  display: inline;
}

/* Select all the elements with the class title and set their font size to 1.5rem */
.title {
  font-size: 1.5rem;
}
