/* Select all the elements with the class navbar and set their alignment to center, display to flex, width to 100% and justify content to space around and top padding to 1rem */
.navbar {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 1rem;
  user-select: none;
}

/* Select all the elements with the class btns and set their right margin to 12rem and order to 5 */
.btns {
  margin-right: 12rem;
  order: 5;
}

/* Select all the elements with the class btnHome and set their left margin to 12rem, order to 1, font size to 2rem and font weight to 550 */
.btnHome {
  margin-left: 12rem;
  order: 1;
  font-size: 2rem;
  font-weight: 550;
}

/* Select all the elements with the class fa-solid and set their transition to 0.25s and left margin to 0.25rem */
.fa-solid {
  transition: 0.25s;
  margin-left: 0.25rem;
}

/* Select all the elements with the class fa-solid that are hovered and set their color to theme helper color */
.fa-solid:hover {
  color: var(--themeHelper);
}

/* Select all the elements with the class profilePicture and set their height to 1rem, width to 1rem and display to inline-block */
.profilePicture {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

/* Select all the elements with the class user and set their text alignment to center, display to inline-block and height to fit content */
.user {
  text-align: center;
  display: inline-block;
  height: fit-content;
}

/* Select all the elements with the class profileText and set their margin to 0, left padding to 0 and color to theme secondary color */
.profileText {
  margin: 0;
  padding-left: 0;
  color: var(--themeSecondary);
}

/* Select the element with the id searchInput and set its display to inline-block and right margin to 0.5rem */
#searchInput {
  display: inline-block;
  margin-right: 0.5rem;
}

/* Select all the elements with the class hamburger and set their position to relative, display to none and width to fit content */
.hamburger {
  position: relative;
  display: none;
  width: fit-content;
}

/* Select all the elements with the class hamburgerContent and set their display to none, position to absolute, background color to theme secondary color, min-width to 160px, box shadow to 0px 8px 16px 0px rgba(0, 0, 0, 0.2) and z-index to 1 */
.hamburgerContent {
  display: none;
  position: absolute;
  background-color: var(--themeSecondary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Select all the anchor elements that are children of the element with the class hamburgerContent and set their color to theme primary color, padding to 12px 16px, text decoration to none and display to block */
.hamburgerContent a {
  color: var(--themePrimary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Select all the elements with the class show and set their display to block */
.show {
  display: block;
}

/* Select all the elements with the class hamburgerBtn and set their font size to 1rem, text alignment to right, width to fit content and left margin to 5rem */
.hamburgerBtn {
  font-size: 1rem;
  text-align: right;
  width: fit-content !important;
  margin-left: 5rem;
}

/* Use a media query to apply the following rules when the screen width is less than or equal to 1068px */
@media screen and (max-width: 1068px) {
  /* Select all the elements with the class btnHome and set their margin to 0 1rem 0 0 */
  .btnHome {
    margin: 0 1rem 0 0;
  }

  /* Select all the elements with the class btns or searchBar and set their display to none */
  .btns,
  .searchBar {
    display: none;
  }

  /* Select all the elements with the class hamburger and set their display to inline-block */
  .hamburger {
    display: inline-block;
  }

  /* Select all the elements with the class searchBarPage and set their display to block */
  .searchBarPage {
    display: block;
  }
}

/* Use a media query to apply the following rules when the screen width is greater than or equal to 1068px and less than or equal to 1600px */
@media (min-width: 1068px) and (max-width: 1600px) {
  /* Select all the elements with the class btnHome or btns and set their right margin to 2rem */
  .btnHome,
  .btns {
    margin-right: 2rem;
  }

  /* Select all the elements with the class btnHome and set their left margin to 1rem */
  .btnHome {
    margin-left: 1rem;
  }
}
