/* Select all the elements with the class post and set their display to flex, flex direction to column, max-width to 50rem and top margin to 1.5rem */
.post {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin-top: 1.5rem;
}

/* Select all the img elements that are children of the paragraph elements that are children of the element with the class post and set their max-width to 100% */
.post p img {
  max-width: 100%;
}

/* Select all the h1 elements that are children of the element with the class post and set their text alignment to center */
.post h1 {
  text-align: center;
}

/* Select all the elements with the class title and set their font size to 2rem */
.title {
  font-size: 2rem;
}

/* Select all the elements with the class bottomBar and set their display to flex, alignment to stretch and justify content to space between */
.bottomBar {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

/* Select all the elements with the class linkLogin and set their color to primary color and transition to 0.25s */
.linkLogin {
  color: var(--primaryColor);
  transition: 0.25s;
}

/* Select all the elements with the class linkLogin that are hovered and set their color to theme primary color */
.linkLogin:hover {
  color: var(--themePrimary);
}

/* Select all the elements with the class comment and set their display to block, width to 27.5rem, height to 8rem, background color to transparent, border to none, resize to none, padding to 1rem and font size to 0.8rem */
.comment {
  display: block;
  width: 27.5rem;
  height: 8rem;
  background-color: transparent;
  border: none;
  resize: none;
  padding: 1rem;
  font-size: 0.8rem;
}

/* Select all the elements with the class comment that are focused and set their outline to none */
.comment:focus {
  outline: none;
}

/* Select all the small elements and set their font size to 0.75rem */
small {
  font-size: 0.75rem;
}

/* Select all the elements with the class btnSubmit and set their background color to primary color, color to theme secondary color, border to 0px, border radius to 1rem, height to 2rem, width to 5rem, font size to 0.75rem, transition to 0.25s, margin to auto 0.5rem 0.5rem 0rem and cursor to pointer */
.btnSubmit {
  background-color: var(--primaryColor);
  color: var(--themeSecondary);
  border: 0px;
  border-radius: 1rem;
  height: 2rem;
  width: 5rem;
  font-size: 0.75rem;
  transition: 0.25s;
  margin: auto 0.5rem 0.5rem 0rem;
  cursor: pointer;
}

/* Select all the elements with the class btnSubmit that are hovered and set their background color to transparent and color to primary color */
.btnSubmit:hover {
  background-color: transparent;
  color: var(--primaryColor);
}

/* Select all the elements with the class commentForm and set their margin to 2rem auto 0 auto, display to flex, justify content to space between, width to fit content, border to 1px solid primary color and border radius to 1rem */
.commentForm {
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  border: 1px solid var(--primaryColor);
  border-radius: 1rem;
}

/* Select all the elements with the class comments and set their margin to 3rem auto 0 auto, width to 32rem, font size to 0.75rem, display to flex, justify content to space between, flex wrap to wrap and alignment to center */
.comments {
  margin: 3rem auto 0 auto;
  width: 32rem;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

/* Select all the elements with the class commentUserNameContainer and set their font size to 0.7rem and right margin to 2rem */
.commentUserNameContainer {
  font-size: 0.7rem;
  margin-right: 2rem;
}

/* Select all the paragraph elements that are children of the element with the class commentUserNameContainer and set their margin to 0 */
.commentUserNameContainer p {
  margin: 0;
}

/* Select all the elements with the class profilePicture and set their right margin to 0.6rem */
.profilePicture {
  margin-right: 0.6rem;
}

/* Select all the elements with the class dateTime and set their text alignment to right */
.dateTime h5 {
  text-align: right;
}

/* Select all the elements with the class tags and set their height to 2rem, display to flex, alignment to center and justify content to space between */
.tags {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Select all the elements with the class tag and set their display to flex and alignment to center */
.tag {
  display: flex;
  align-items: center;
}

/* Use a media query to apply the following rules when the screen width is less than or equal to 600px */
@media screen and (max-width: 600px) {
  /* Select all the elements with the class comments or the small elements that are children of the element with the class comments and set their max-width to 100% */
  .comments,
  .comments small {
    max-width: 100% !important;
  }

  /* Select all the textarea elements that are children of the element with the class commentForm and set their width to 100% */
  .commentForm textarea {
    width: 100%;
  }

  /* Select all the elements that are children of the element with the class navbar and set their width to 100% */
  .navbar * {
    width: 100%;
  }

  /* Select all the elements with the class comment and set their max-width to 90% */
  .comment {
    max-width: 90%;
  }
}
