/* Select all the h3 and h2 elements and set their left and right margin to auto and their width to fit content */
h3,
h2 {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

/* Select all the img elements that are children of the element with the class post and set their width to 5rem and height to 5rem */
.post img {
  width: 5rem;
  height: 5rem;
}

/* Select all the elements with the class userBox and set their width to fit content and their bottom padding to 0.3rem */
.userBox {
  width: fit-content;
  padding-bottom: 0.3rem;
}

/* Select all the elements with the class container and set their text alignment to center, position to absolute, transform to center, top to 50% and left to 50% and padding to 1rem */
.container {
  text-align: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1rem;
}
