#flashContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    -moz-animation: cssAnimation 4s forwards;
    -webkit-animation: cssAnimation 4s forwards;
    -o-animation: cssAnimation 4s forwards;
    animation: cssAnimation 4s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    0% {
        right: -100%;
    }
    10% {
        right: 20px;
    }
    90% {
        right: 20px;
    }
    100% {
        right: -100%;
    }
}

@-webkit-keyframes cssAnimation {
    0% {
        right: -100%;
    }
    10% {
        right: 20px;
    }
    90% {
        right: 20px;
    }
    100% {
        right: -100%;
    }
}
