{% extends 'layout.html'%} {%block head%}
<title>Admin Panel</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/adminPanel.css') }}"
/>
{% endblock head %} {%block body%}
<div class="toPanelsContainer">
  <h2>
    <a class="toPanel textPrimary">change username (not ready)</a>
  </h2>
  <h2>
    <a class="toPanel textPrimary">change profile picture (not ready)</a>
  </h2>
  <h2>
    <a href="/changepassword" class="toPanel textPrimary"
      >change your password</a
    >
  </h2>
  <h2>
    <a
      href="/deleteuser/{{session['userName']}}/redirect=&"
      class="toPanel textPrimary"
      >delete your account</a
    >
  </h2>
</div>
{% endblock body %}
