{% extends 'layout.html'%} {%block head%}
<title>Create Post</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/createPost.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  <form method="post" class="form">
    {{form.postTitle(class_="inputTitle" , autocomplete="off")}}
    {{form.postTags(class_="inputTags" , autocomplete="off")}}
    {{form.postContent(class_="inputContent" , autocomplete="off")}}
    <button type="submit" class="btnSubmit">Share post</button>
  </form>
</div>
{% endblock body %}
