{% extends 'layout.html'%} {%block head%}
<title>Edit Post</title>
{% endblock head %} {%block body%}
<div class="container">
  <form method="post" class="form formPost centeredHorizontally">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.postTitle(class_="input centeredHorizontally" , autocomplete="off")}}
    {{form.postTags(class_="input centeredHorizontally" , autocomplete="off")}}
    <small>(separete with comma)</small>
    {{form.postContent(class_="editor", autocomplete="off")}}
    <button type="submit" class="btn btnPrimary">save</button>
  </form>
</div>
{% endblock body %}
