{% extends 'layout.html'%} {%block head%}
<title>Blog</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock head %} {%block body%}
<div class="item">
  <h3 class="articleTitle">Lorem, ipsum dolor.</h3>
  <p class="article">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate officia
    accusamus vero adipisci molestiae placeat blanditiis impedit quia assumenda
    deleniti dolor delectus, praesentium id quod ullam culpa saepe iste? Velit
    vel dolorem laboriosam ullam nostrum voluptate sequi inventore aut qui ab,
    maiores voluptatibus repudiandae minima, sed accusamus modi veritatis dicta
    non magnam id? Similique, iure tempore, tenetur repellendus quibusdam,
    recusandae ullam quia nostrum nobis perspiciatis ducimus soluta
    voluptatibus! Magni nostrum atque natus dignissimos et sequi amet error
    eaque rerum similique. Quia praesentium quas saepe illum nihil repellat
    voluptate sunt deleniti enim inventore, assumenda nemo iste ipsam pariatur
    corrupti facere hic!
  </p>
  <h5 class="author">Doğukan Ürker</h4>
</div>
{% endblock body %}
