{% extends 'layout.html'%} {%block head%}
<title>Blog</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium iure,
    nesciunt quod architecto sunt corrupti voluptatibus, quasi accusantium ad ut
    libero dicta suscipit cum, repellat voluptatem illum! Sequi, vitae cum.
    Reprehenderit ad accusantium voluptate, obcaecati voluptatibus aspernatur
    laudantium sunt consequuntur id iure. Eligendi, error dolores excepturi
    porro natus tempora perferendis quia aut iure molestias quam numquam beatae,
    corporis, laudantium dolore omnis. Qui obcaecati, eligendi necessitatibus
    iste natus aliquam nobis alias animi perferendis aliquid eos laboriosam nemo
    neque cumque eius nihil in commodi doloremque, voluptate quam? Odio
    doloribus, quas quis cum porro maiores voluptatem rem dolorem, qui nihil
    recusandae alias voluptates?
  </p>
</div>
{% endblock body %}
