<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/general.css') }}"
    />
    {%if theme=="dark"%}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dark.css') }}"
    />
    {%else%}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/light.css') }}"
    />
    {% endif %}
  </head>
  {% block head %} {% endblock head %}
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
  </style>
  <body>
    <div class="head">
      <h1><a href="https://dogukanurker.com/socials">Dogukan Urker</a></h1>
      <a href="https://twitter.com/dogukanurker/"
        ><i class="fa-brands fa-twitter"></i
      ></a>
      <a href="https://github.com/dogukanurker/"
        ><i class="fa-brands fa-github"></i
      ></a>
      <a href="https://instagram.com/dogukanurker/"
        ><i class="fa-brands fa-instagram"></i>
      </a>
    </div>
    {% block body %} {% endblock body %}
    <script
      src="https://kit.fontawesome.com/af7a48118d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
