<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/general.css') }}"
    />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📜</text></svg>"
    />
    {% block head %} {% endblock head %}
  </head>
  <body>
    {% include 'changeTheme.html'%} {% include 'navbar.html'%} {% include
    'flash.html'%} {% block body %} {% endblock body %}
    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/editor.css') }}"
    />
  </body>
</html>
