{% extends 'layout.html'%} {%block head%}
<title>Login</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="flash">
    {% for category, message in messages %}
    <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}
  <form method="post" class="form">
    {{form.userName(class_="input")}}{{form.password}}
    <button type="submit">Login</button>
  </form>
</div>
{% endblock body %}
