<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navbar.css') }}"
/>
<div class="navbar">
  <a href="/"><h1 class="btn btnHome">flaskBlog</h1></a>
  <div class="btns">
    {% if session["userName"] %}
    <a href="/createpsot">
      <button class="btn btnPost">New Post</button>
    </a>
    <a href="/{{session['userName']}}"
      ><button class="btn btnAccount">
        <div class="userName">{{session["userName"]}}</div>
        <a href="/logout" class="dropdown">logout</a>
      </button></a
    >
    {% elif hideLogin %}
    <a href="/signup"><button class="btn btnSignUp">Sign Up</button></a>
    {% elif hideSignUp %}
    <a href="/login"><button class="btn btnLogin">Login</button></a>
    {%else%}
    <a href="/login"><button class="btn btnLogin">Login</button></a>
    <a href="/signup"><button class="btn btnSignUp">Sign Up</button></a>
    {% endif %}
  </div>
</div>
