<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navbar.css') }}"
/>
<div class="navbar">
  <a href="/"><h1 class="btn btnLink btnHome">flaskBlog</h1></a>
  <div class="btns">
    {% if session["userName"] %}
    <a href="/createpost">
      <button class="btn btnLink">New Post</button>
    </a>
    <a href="/dashboard/{{session['userName']}}">
      <div class="btn btnPrimary user">
        <img
          class="profilePicture"
          src="{{ getProfilePicture(session['userName']) }}"
        />
        <button class="btn profileText">{{session["userName"]}}</button>
      </div>
    </a>
    <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    {% elif hideLogin %}
    <a href="/signup/redirect=&"
      ><button class="btn btnLink">Sign Up</button></a
    >
    {% elif hideSignUp %}
    <a href="/login/redirect=&"><button class="btn btnLink">Login</button></a>
    {%else%}
    <a href="/login/redirect=&"><button class="btn btnLink">Login</button></a>
    <a href="/signup/redirect=&"
      ><button class="btn btnPrimary">Sign Up</button></a
    >
    {% endif %}
  </div>
</div>
