<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navbar.css') }}"
/>
<div class="navbar">
  <a href="/"><h1 class="btn btnLink btnHome">flaskBlog</h1></a>
  <div class="btns">
    {% if session["userName"] %}
    <a href="/createpost">
      <button class="btn btnLink">New Post</button>
    </a>
    <a href="/{{session['userName']}}">
      <button class="btn btnPrimary">{{session["userName"]}}</button>
      <a href="/logout" ><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    {% elif hideLogin %}
    <a href="/signup"><button class="btn btnLink">Sign Up</button></a>
    {% elif hideSignUp %}
    <a href="/login"><button class="btn btnLink">Login</button></a>
    {%else%}
    <a href="/login"><button class="btn btnLink">Login</button></a>
    <a href="/signup"><button class="btn btnPrimary">Sign Up</button></a>
    {% endif %}
  </div>
</div>
