{% extends 'layout.html'%} {%block head%}
<title>{{title}}</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/post.css') }}"
/>
{% endblock head %} {%block body%}
<div class="post centeredHorizontally">
  <h1 class="title">{{title}}</h1>
  <p class="content">{{content|safe}}</p>
  <div class="bottomBar">
    <a href="/user/{{author|lower}}">
      <h5 class="author">
        <img
          class="profilePicture"
          src="{{ getProfilePicture(author) }}"
        />{{author}}
      </h5></a
    >
    <h5 class="date">{{date}}</h5>
  </div>
  {% for comment in comments %}
  <div class="comments">
    <img class="profilePicture" src="{{ getProfilePicture(comment[3]) }}" />
    <section class="commentUserNameContainer">
      <a href="/user/{{comment[3]|lower}}" class="commentUserName"
        >{{comment[3]}} :</a
      >
    </section>
    <p class="centeredHorizontally">{{comment[2]}}</p>
    {% if session["userName"] == comment[3] %}
    <a href="/deletecomment/{{comment[0]}}/redirect=post&{{id}}">🗑️</a>
    {% endif %} {% endfor %}
  </div>
  <form method="post" class="commentForm">
    {% if session["userName"] %} {{form.comment(class_="comment")}}
    <button type="submit" class="btnSubmit">comment</button>
    {% else %}
    <style>
      .commentForm {
        border: none;
      }
    </style>
    <small
      >you need
      <a href="/login/redirect=post&{{id}}" class="linkLogin">login</a> for
      comment</small
    >
    {% endif %}
  </form>
</div>
{% endblock body %}
