{% extends 'layout.html'%} {%block head%}
<title>{{title}}</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/post.css') }}"
/>
{% endblock head %} {%block body%}
<div class="post centeredHorizontally">
  <h1 class="title">{{title}}</h1>
  <p class="content">{{content|safe}}</p>
  <div class="bottomBar">
    <h5 class="author">{{author}}</h5>
    <h5 class="date">{{date}}</h5>
  </div>
  {% for comment in comments %}
  <div class="comments">
    <section>
      <a href="/{{comment[3]}}" class="commentUserName">{{comment[3]}}</a>
      <p class="commentDate">{{comment[4]}}</p>
    </section>
    <p class="centeredHorizontally">{{comment[2]}}</p>
    {% endfor %}
  </div>
  <form method="post" class="commentForm">
    {% if session["userName"] %} {{form.comment(class_="comment")}}
    <button type="submit" class="btnSubmit">comment</button> {% else %}
    <style>
      .commentForm {
        border: none;
      }
    </style>
    <small
      >you need <a href="/login" class="linkLogin">login</a> for comment</small
    >
    {% endif %}
  </form>
</div>
{% endblock body %}
