{% extends 'layout.html'%} {%block head%}
<title>{{title}}</title>
{% endblock head %} {%block body%}
<div>
  <h1>{{title}}</h1>
  <p>
    {{content|safe}} <br />
    Tags: {{tags.replace(",",", ")}}
  </p>
  <div>
    <div>
      <h5>👁️ {{views}}</h5>
      <a href="/user/{{author|lower}}">
        <h5><img src="{{ getProfilePicture(author) }}" />{{author}}</h5></a
      >
    </div>
    <div>
      <h5>{{time}}</h5>
      <h5>{{date}}</h5>
    </div>
  </div>
  {% if author == session["userName"] %}
  <div>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" name="postDeleteButton">
        delete
      </button>
    </form>

    <a href="/editpost/{{id}}">edit</a>
  </div>
  {% endif %} {% for comment in comments %}
  <div>
    <img src="{{ getProfilePicture(comment[3]) }}" />
    <section>
      <a href="/user/{{comment[3]|lower}}">{{comment[3]}} :</a>
    </section>
    <p>{{comment[2]}}</p>
    {% if session["userName"] == comment[3] %}
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="commentID" value="{{comment[0]}}" />
      <button type="submit" name="commentDeleteButton">🗑️</button>
    </form>
    {% endif %} {% endfor %}
  </div>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if session["userName"] %} {{form.comment()}}
    <button type="submit">comment</button>
    {% else %}
    <style>
      .commentForm {
        border: none;
      }
    </style>
    <small
      >you need <a href="/login/redirect=&post&{{id}}">login</a> for
      comment</small
    >
    {% endif %}
  </form>
</div>
{% endblock body %}
