{% extends 'layout.html'%} {%block head%}
<title>Verify Account</title>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/submit.css') }}"
/>
{% endblock head %} {%block body%}
<div>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if mailSent %} {{form.code(autocomplete="off")}}
    <button type="submit">Verify Account</button> {% else %}
    <button type="submit">
      Click for send verification code
    </button>
    {% endif %}
  </form>
</div>
{% endblock body %}
