{% extends 'layout.html.jinja' %}
{% block head %}
<title>{{ translations.about.title }} {{ appName }}</title>
{% endblock head %}

{% block body %}
<div class="w-10/12 md:w-4/6 lg:w-6/12 xl:w-5/12 mx-auto mt-20 md:mt-32 break-words text-center text-lg">

  <a class="text-rose-500 text-4xl font-bold select-none" href="https://dogukanurker.com/flaskblog" target="_blank">
    {{ appName }}
  </a>

  <div class="mt-1 text-xs">
    {{ translations.about.version }}: {{ appVersion }}
  </div>

  <div class="mt-4 mx-auto">
    {{ translations.about.description }}
  </div>

  <div class="mt-4 mx-auto">
    <a href="https://github.com/DogukanUrker/flaskBlog" target="_blank">
      {{ translations.about.moreInfo }}
      <p class="text-rose-500 inline-block">{{ appName }}</p>
      <p class="inline-block"><i class="ti ti-brand-github"></i></p>
    </a>
  </div>

  <div class="mx-auto text-xs absolute bottom-2 left-0 right-0 select-none">
    <a href="https://github.com/DogukanUrker/flaskBlog" target="_blank" class="text-rose-500 font-medium block">
      {{ translations.about.sourceRepo }}</a>
    {{ translations.about.credits | safe }}
  </div>
</div>
{% endblock body %}
