{% extends 'layout.html.jinja' %}

{% block head %}
<title>flaskBlog</title>
{% endblock head %}

{% block body %}
{% from "components/categoryContainer.html.jinja" import categoryContainer %}
{{ categoryContainer(translations) }}

<h1 class="text-center font-bold text-3xl text-rose-500 mt-4 select-none">
  {{ category }}
</h1>

{% from "components/sortMenu.html.jinja" import sortMenu %}
{{ sortMenu(sortName,source,translations) }}

<div
  class="flex item-center justify-center flex-wrap gap-x-2 gap-y-6 mx-auto w-11/12 md:w-10/12 lg:w-9/12 2xl:w-8/12 mt-6">
  {% for post in posts %}
  {% from "components/postCardMacro.html.jinja" import postCard with context %}
  {{ postCard(post=post, authorProfilePicture=getProfilePicture(post[5])) }}
  {% endfor %}
</div>

<div class="text-center mt-4 mb-2 text-xs font-medium">
  <div class="mb-1">
    <a href="/about" class="text-rose-500 hover:text-rose-600 duration-150"
      target="_blank">{{translations.about.title}}</a>
  </div>
  {{ translations.about.credits | safe }}
  <br />
</div>
{% endblock body %}
