{% extends 'layout.html' %} {% block head %}
<title>{{ translations.createPost.title }}</title>
{% endblock head %} {% block body %}
<div class="w-fit mx-auto mt-8">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{
        form.postTitle(autocomplete="off",placeholder=translations.createPost.titlePlaceholder)
        }} {{
        form.postTags(autocomplete="off",placeholder=translations.createPost.tags)
        }}
        <p class="text-xs text-center w-fit mx-auto mb-2">
            {{ translations.createPost.separate }}
        </p>

        <div class="w-72 mx-auto text-center mb-4">
            <label class="block mt-2 mb-1"
                >{{ translations.createPost.banner }}</label
            >
            {{
            form.postBanner(placeholder=translations.createPost.bannerPlaceholder)
            }}
        </div>

        <div class="mx-auto w-fit">
            <label class="block my-1 text-center"
                >{{ translations.createPost.category }}</label
            >
            <select
                class="w-72 h-12 mb-4 mx-auto p-2 rounded-md text-center outline-rose-500 bg-transparent focus:outline-none focus:ring focus:ring-rose-500 duration-100 border-2 border-gray-500/25 focus:border-0 block shadow-md select-none text-rose-500"
                id="postCategory"
                name="postCategory"
                required=""
            >
                <option value="Apps">{{translations.categories.apps}}</option>
                <option value="Art">{{ translations.categories.art }}</option>
                <option value="Books">
                    {{ translations.categories.books }}
                </option>
                <option value="Business">
                    {{ translations.categories.business }}
                </option>
                <option value="Code">{{ translations.categories.code }}</option>
                <option value="Education">
                    {{ translations.categories.education }}
                </option>
                <option value="Finance">
                    {{ translations.categories.finance }}
                </option>
                <option value="Foods">
                    {{ translations.categories.foods }}
                </option>
                <option value="Games">
                    {{ translations.categories.games }}
                </option>
                <option value="Health">
                    {{ translations.categories.health }}
                </option>
                <option value="History">
                    {{ translations.categories.history }}
                </option>
                <option value="Movies">
                    {{ translations.categories.movies }}
                </option>
                <option value="Music">
                    {{ translations.categories.music }}
                </option>
                <option value="Nature">
                    {{ translations.categories.nature }}
                </option>
                <option value="Science">
                    {{ translations.categories.science }}
                </option>
                <option value="Series">
                    {{ translations.categories.series }}
                </option>
                <option value="Sports">
                    {{ translations.categories.sports }}
                </option>
                <option value="Technology">
                    {{ translations.categories.technology }}
                </option>
                <option value="Travel">
                    {{ translations.categories.travel }}
                </option>
                <option value="Web">{{ translations.categories.web }}</option>
                <option value="Other">
                    {{ translations.categories.other }}
                </option>
            </select>
        </div>

        <div>{{ form.postContent(id_="editor", autocomplete="off") }}</div>

        <button
            type="submit"
            class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
        >
            {{ translations.createPost.post }}
        </button>
    </form>
</div>
{% endblock body %}
