{% extends 'layout.html.jinja'%}
{%block head%}
<title>{{translations.login.title}}</title>
{% endblock head %}
{%block body%}
<div class="w-fit mx-auto mt-36 md:mt-52 text-center text-xl">
  {% if recaptcha %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
  <form method="post" id="recaptchaForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.userName(autocomplete="off", placeholder=translations.login.username)}}{{form.password(autocomplete="off",
    placeholder=translations.login.password)}}
    <button type="submit" data-sitekey="{{ siteKey }}" data-callback="onSubmit" data-action="submit"
      class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
      {{translations.login.title}}
    </button>
    <a href="/passwordreset/codesent=false" id="passwordReset"
      class="hover:text-rose-500 duration-150 text-sm font-normal select-none">{{translations.login.forgot}}</a>
  </form>
  {% else %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.userName(autocomplete="off", placeholder=translations.login.username)}}{{form.password(autocomplete="off",
    placeholder=translations.login.password)}}
    <button type="submit" class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
      {{translations.login.title}}
    </button>
    <a href="/passwordreset/codesent=false" id="passwordReset"
      class="hover:text-rose-500 duration-150 text-sm font-normal select-none">{{translations.login.forgot}}</a>
  </form>
  {% endif %}
</div>
{% endblock body %}
