{% extends 'layout.html.jinja' %}

{% block head %}
<title>{{translations.verifyUser.title}}</title>
{% endblock head %}

{% block body %}
<div class="w-fit mx-auto mt-32 select-none">
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if mailSent %}
    {{ form.code(autocomplete="off", placeholder=translations.verifyUser.placeholder) }}
    <button type="submit" class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium">
      {{translations.verifyUser.title}}
    </button>
    {% else %}
    <button type="submit" class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium">
      {{ translations.verifyUser.send }}
    </button>
    {% endif %}
  </form>
</div>
{% endblock body %}
