{% extends 'layout.html.jinja' %}
{% block head %}
<!-- Set the title of the About page with the app name -->
<title>About {{ appName }}</title>
{% endblock head %}

{% block body %}
<!-- Container for the About page content -->
<div class="w-10/12 md:w-4/6 lg:w-6/12 xl:w-5/12 mx-auto mt-20 md:mt-32 break-words text-center text-lg">

  <!-- Link to the main page of the app -->
  <a class="text-rose-500 text-4xl font-bold select-none" href="https://dogukanurker.com/flaskblog" target="_blank">
    {{ appName }}
  </a>

  <!-- Version of the app -->
  <div class="mt-1 text-xs">
    Version: {{ appVersion }}
  </div>

  <!-- Description of the blog app -->
  <div class="mt-4 mx-auto">
    Simple blog app made with Flask, SQLite3, WTForms, Passlib, reCAPTCHA, Requests, TailwindCSS, Tabler Icons
  </div>

  <!-- Link to the GitHub repository of the app -->
  <div class="mt-4 mx-auto">
    <a href="https://github.com/DogukanUrker/flaskBlog" target="_blank">
      Click for more information about
      <p class="text-rose-500 inline-block">{{ appName }}</p>
      on
      <p class="inline-block">GitHub <i class="ti ti-brand-github"></i></p>
    </a>
  </div>

  <!-- Credits and source repo information -->
  <!-- Please respect this code’s originality and credit the original repo. Thanks for your cooperation. 💜 -->
  <div class="mx-auto text-xs absolute bottom-2 left-0 right-0 select-none">
    <a href="https://github.com/DogukanUrker/flaskBlog" target="_blank" class="text-rose-500 font-medium block">source
      repo</a>
    Made with <i class="ti ti-heart-filled text-rose-500"></i> by
    <a href="https://dogukanurker.com/" target="_blank" class="text-rose-500 font-medium">Dogukan Urker</a>
  </div>
</div>
{% endblock body %}