{% extends 'layout.html'%} {%block head%}
<title>Account Settings</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto mt-32 text-center text-2xl font-medium">
  <h2 class="my-4">
    <a
      href="/changeusername"
      class="hover:text-rose-500 duration-150 flex items-center w-fit mx-auto"
      ><i class="ti ti-user mr-1 text-2xl"></i> change username</a
    >
  </h2>
  <h2 class="my-4">
    <a
      href="/changepassword"
      class="hover:text-rose-500 duration-150 flex items-center w-fit mx-auto"
      ><i class="ti ti-password mr-2 text-2xl"></i> change password</a
    >
  </h2>
  <h2 class="my-4">
    <a
      href="/changeprofilepicture"
      class="hover:text-rose-500 duration-150 flex items-center w-fit mx-auto"
      ><i class="ti ti-photo mr-1 text-2xl"></i> change profile picture</a
    >
  </h2>
  <h2 class="my-4">
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button
        type="submit"
        name="userDeleteButton"
        class="hover:text-rose-500 duration-150 flex items-center w-fit mx-auto"
      >
        <i class="ti ti-user-x mr-1 text-2xl"></i>
        delete account
      </button>
    </form>
  </h2>
</div>
{% endblock body %}
