{% extends 'layout.html'%} {%block head%}
<title>Admin Panel --> Comments</title>
{% endblock head %} {%block body%}
<h1>Comments</h1>
{% for comment in comments %}
<div>
  <h3>
    Post ID:
    <a href="/post/{{comment[0]}} ">{{comment[1]}}</a>
  </h3>
  <div tag="content">{{comment[2]}}</div>
  <section>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="commentID" value="{{comment[0]}}" />
      <button
        type="submit"
        name="commentDeleteButton"
        class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
      >
        delete
      </button>
    </form>
  </section>
  <div>
    <p>Creation Time: {{comment[5]}}</p>
    <p>Creation Date: {{comment[4]}}</p>
  </div>
  {% if request.path == "/admin/comments" %}
  <p>
    Author:
    <a href="/user/{{comment[3].lower()}}">{{comment[3]}}</a>
  </p>
  {% endif %}
</div>
{% endfor %} {% if request.path == "/admin/comments" %}
<a href="/admin">↩️go back to admin panel</a>
{% endif %} {% endblock body %}
