{% extends 'layout.html'%} {%block head%}
<title>Admin Panel --> Comments</title>
{% endblock head %} {%block body%}
<h1 class="my-4 text-4xl font-medium select-none text-center">Comments</h1>
{% for comment in comments %}
<div
  class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 h-fit mx-auto py-4 px-2 my-8 border-2 rounded-md shadow-md
border-gray-500/25"
>
  <div class="flex items-center justify-between mb-2">
    <div class="flex items-center">
      <i class="ti ti-id mr-1 text-xl"></i> Post ID:
      <a href="/post/{{comment[0]}} ">{{comment[1]}}</a>
    </div>
  </div>
  <div tag="content" class="w-fit mx-auto my-4">{{comment[2]}}</div>
  <div class="flex items-center justify-between my-2">
    <p class="flex items-center">
      <i class="ti ti-clock mr-1 text-xl"></i>Creation Time: {{comment[5]}}
    </p>
    <p class="flex items-center">
      <i class="ti ti-calendar mr-1 text-xl"></i>Creation Date: {{comment[4]}}
    </p>
  </div>
  {% if request.path == "/admin/comments" %}
  <div class="flex items-center justify-between mt-2">
    <p class="flex items-center">
      <i class="ti ti-user mr-1 text-xl"></i>
      Author:&nbsp;
      <a
        href="/user/{{comment[3].lower()}}"
        class="hover:text-rose-500 duration-150"
        >{{comment[3]}}</a
      >
    </p>
    <div class="flex items-center">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="commentID" value="{{comment[0]}}" />
        <button
          type="submit"
          name="commentDeleteButton"
          class="hover:text-rose-500 duration-150 font-medium"
        >
          <i class="ti ti-trash-x mr-1 text-2xl"></i>
        </button>
      </form>
    </div>
  </div>
  {% endif %}
</div>
{% endfor %} {% if request.path == "/admin/comments" %}
<a href="/admin" class="fixed bottom-0 left-1"
  ><i
    class="ti ti-arrow-back mr-1 text-xl hover:text-rose-500 duration-150"
  ></i>
</a>
{% endif %} {% endblock body %}
