{% extends 'layout.html.jinja' %}
{% block head %}
<!-- Set the title of the Admin Panel page -->
<title>Admin Panel</title>
{% endblock head %}

{% block body %}
<!-- Container for the Admin Panel content -->
<div class="w-fit mx-auto mt-32 text-center text-2xl font-medium">

  <!-- Link to the Users page in the Admin Panel -->
  <h1 class="my-4">
    <a href="admin/users" class="hover:text-rose-500 duration-150 flex items-center w-fit mx-auto">
      <i class="ti ti-users mr-1 text-2xl"></i> Users
    </a>
  </h1>

  <!-- Link to the Posts page in the Admin Panel -->
  <h1 class="my-4">
    <a href="admin/posts" class="hover:text-rose-500 duration-150 flex items-center w-fit mx-auto">
      <i class="ti ti-files mr-1 text-2xl"></i> Posts
    </a>
  </h1>

  <!-- Link to the Comments page in the Admin Panel -->
  <h1 class="my-4">
    <a href="admin/comments" class="hover:text-rose-500 duration-150 flex items-center w-fit mx-auto">
      <i class="ti ti-messages mr-1 text-2xl"></i> Comments
    </a>
  </h1>
</div>
{% endblock body %}