{% extends 'layout.html.jinja' %}

{% block head %}
<!-- Set the title of the page to "flaskBlog" -->
<title>flaskBlog</title>
{% endblock head %}

{% block body %}
<!-- Include the category container component -->
{% from "components/categoryContainer.html.jinja" import categoryContainer %}
{{ categoryContainer() }}

<!-- Display the category title with specific styling -->
<h1 class="text-center font-bold text-3xl text-rose-500 mt-4 select-none">
  {{ category }}
</h1>

<!-- Include the sort dropdown component -->
{% from "components/sortMenu.html.jinja" import sortMenu %}
{{ sortMenu(sortName,source) }}

<!-- Flex container for displaying posts -->
<div
  class="flex item-center justify-center flex-wrap gap-x-2 gap-y-6 mx-auto w-11/12 md:w-10/12 lg:w-9/12 2xl:w-8/12 mt-6">
  {% for post in posts %}
  <!-- Include the post card component for each post -->
  {% from "components/postCardMacro.html.jinja" import postCard %}
  {{ postCard(post=post, authorProfilePicture=getProfilePicture(post[5])) }}
  {% endfor %}
</div>

<!-- Footer section with about link and credit information -->
<div class="text-center mt-4 mb-2 text-xs font-medium">
  <div class="mb-1">
    <!-- Link to the "About" page -->
    <a href="/about" class="text-rose-500 hover:text-rose-600 duration-150" target="_blank">About</a>
  </div>
  <!-- Attribution to the original author and website -->
  <!-- Please respect this code’s originality and credit the original repo. Thanks for your cooperation. 💜 -->
  Made with <i class="ti ti-heart-filled text-rose-500"></i> by
  <a href="https://dogukanurker.com/" target="_blank" class="text-rose-500 hover:text-rose-600 font-medium">Dogukan
    Urker</a>
  <br />
</div>
{% endblock body %}