<div
  class="flex flex-wrap items-center justify-center mx-auto w-fit mt-4 select-none"
>
  <a
    href="/"
    class="flex items-center w-fit bg-neutral-200 hover:bg-neutral-300 text-neutral-500 hover:text-neutral-600 duration-150 rounded-md font-bold px-1 py-2 m-1 cursor-pointer shadow"
  >
    <i class="ti font-sm ti-stack-2 mr-1"></i>
    <p class="text-xs">All</p>
  </a>
  <a
    href="/category/Games"
    class="flex items-center w-fit bg-rose-200 hover:bg-rose-300 text-rose-500 hover:text-rose-600 duration-150 rounded-md font-bold px-1 py-2 m-1 cursor-pointer shadow"
  >
    <i class="ti font-sm ti-device-gamepad mr-1"></i>
    <p class="text-xs">Games</p>
  </a>
  <a
    href="/category/History"
    class="flex items-center w-fit bg-sky-200 hover:bg-sky-300 text-sky-500 hover:text-sky-600 duration-150 rounded-md font-bold px-1 py-2 m-1 cursor-pointer shadow"
  >
    <i class="ti font-sm ti-books mr-1"></i>
    <p class="text-xs">History</p>
  </a>
  <a
    href="/category/Science"
    class="flex items-center w-fit bg-emerald-200 hover:bg-emerald-300 text-emerald-500 hover:text-emerald-600 duration-150 rounded-md font-bold px-1 py-2 m-1 cursor-pointer shadow"
  >
    <i class="ti font-sm ti-square-root-2 mr-1"></i>
    <p class="text-xs">Science</p>
  </a>
  <a
    href="/category/Code"
    class="flex items-center w-fit bg-indigo-200 hover:bg-indigo-300 text-indigo-500 hover:text-indigo-600 duration-150 rounded-md font-bold px-1 py-2 m-1 cursor-pointer shadow"
  >
    <i class="ti font-sm ti-code mr-1"></i>
    <p class="text-xs">Code</p>
  </a>
  <a
    href="/category/Technology"
    class="flex items-center w-fit bg-slate-200 hover:bg-slate-300 text-slate-500 hover:text-slate-600 duration-150 rounded-md font-bold px-1 py-2 m-1 cursor-pointer shadow"
  >
    <i class="ti font-sm ti-cpu mr-1"></i>
    <p class="text-xs">Technology</p>
  </a>
</div>
