{% extends 'layout.html'%} {%block head%}
<title>Change Profile Picture</title>
{% endblock head %} {%block body%}
<div class="text-center mt-32">
  <div class="mb-3">
    <p>https://api.dicebear.com/7.x/identicon/svg?seed={SEED}</p>
    <small>default seed is your username</small><br />
    <a href="https://www.dicebear.com/styles/identicon/"
      ><small>click for more information about profile picture seeds</small></a
    >
  </div>
  <div>
    {% if recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
    <form method="post" id="recaptchaForm">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{form.newProfilePictureSeed()}}
      <button
        type="submit"
        data-sitekey="{{ siteKey }}"
        data-callback="onSubmit"
        data-action="submit"
        class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none"
      >
        Set Profile Picture Seed
      </button>
    </form>
    {% else %}
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{form.newProfilePictureSeed()}}
      <button
        type="submit"
        class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none"
      >
        Set Profile Picture Seed
      </button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock body %}
