{% extends 'layout.html.jinja' %}

{% block head %}
<!-- Set the title of the page to "Change Username" -->
<title>Change Username</title>
{% endblock head %}

{% block body %}
<div class="text-center mt-32">
  {% if recaptcha %}
  <!-- Include Google reCAPTCHA scripts if recaptcha is enabled -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
  <!-- Form for changing username with reCAPTCHA -->
  <form method="post" class="mx-auto w-fit mt-8" id="recaptchaForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <!-- Include the form field for entering a new username -->
    {{ form.newUserName() }}
    <!-- Submit button with reCAPTCHA integration -->
    <button type="submit" data-sitekey="{{ siteKey }}" data-callback="onSubmit" data-action="submit"
      class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
      change my username
    </button>
  </form>
  {% else %}
  <!-- Form for changing username without reCAPTCHA -->
  <form method="post" class="mx-auto w-fit mt-8">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <!-- Include the form field for entering a new username -->
    {{ form.newUserName() }}
    <!-- Submit button without reCAPTCHA -->
    <button type="submit" class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
      change my username
    </button>
  </form>
  {% endif %}
</div>
{% endblock body %}