{% extends 'layout.html.jinja' %}
{% block head %}
<!-- Set the title of the page to "Change Password" -->
<title>Change Password</title>
<!-- End of the head block -->
{% endblock head %}
{% block body %}
<!-- Start of the body block -->
<div class="text-center mt-32">
  {% if recaptcha %}
  <!-- Check if recaptcha is enabled -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
  <!-- Create a form with recaptcha -->
  <form method="post" class="mx-auto w-fit mt-8" id="recaptchaForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <!-- Render form fields for old password, new password, and password confirmation -->
    {{ form.oldPassword() }} {{ form.password() }} {{ form.passwordConfirm() }}
    <!-- Add the recaptcha button for changing the password -->
    <button type="submit" data-sitekey="{{ siteKey }}" data-callback="onSubmit" data-action="submit"
      class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
      Change My Password
    </button>
  </form>
  {% else %}
  <!-- If recaptcha is not enabled, create a form without it -->
  <form method="post" class="mx-auto w-fit mt-8">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <!-- Render form fields for old password, new password, and password confirmation -->
    {{ form.oldPassword() }} {{ form.password() }} {{ form.passwordConfirm() }}
    <!-- Add a button for changing the password -->
    <button type="submit" class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
      Change My Password
    </button>
  </form>
  {% endif %}
</div>
<!-- End of the body block -->
{% endblock body %}