{% extends 'layout.html'%} {%block head%}
<title>Change Password</title>
{% endblock head %} {%block body%}
<div>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.oldPassword(class_="w-80 h-12 mb-4 p-2 rounded-md text-center
    outline-rose-500 bg-transparent focus:outline-none focus:ring-2
    focus:ring-rose-500 duration-150 border-2 border-gray-500/25
    focus:border-rose-500 block shadow-md")}} {{form.password(class_="w-80 h-12
    mb-4 p-2 rounded-md text-center outline-rose-500 bg-transparent
    focus:outline-none focus:ring-2 focus:ring-rose-500 duration-150 border-2
    border-gray-500/25 focus:border-rose-500 block shadow-md")}}
    {{form.passwordConfirm(class_="w-80 h-12 mb-4 p-2 rounded-md text-center
    outline-rose-500 bg-transparent focus:outline-none focus:ring-2
    focus:ring-rose-500 duration-150 border-2 border-gray-500/25
    focus:border-rose-500 block shadow-md")}}
    <button
      type="submit"
      class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
    >
      change my password
    </button>
  </form>
</div>
{% endblock body %}
