{% extends 'layout.html.jinja' %}

{% block head %}
<!-- Set the title of the page to "Change Profile Picture" -->
<title>Change Profile Picture</title>
{% endblock head %}

{% block body %}
<div class="text-center mt-32">
  <div class="mb-3">
    <!-- Display the default profile picture seed URL -->
    <p>https://api.dicebear.com/7.x/identicon/svg?seed={SEED}</p>
    <!-- Provide information about the default seed (username) and a link for more information -->
    <small>default seed is your username</small><br />
    <a href="https://www.dicebear.com/styles/identicon/" target="_blank">
      <small>click for more information about profile picture seeds</small>
    </a>
  </div>
  <div>
    {% if recaptcha %}
    <!-- Include Google reCAPTCHA scripts if recaptcha is enabled -->
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
    <!-- Form for changing profile picture seed with reCAPTCHA -->
    <form method="post" id="recaptchaForm">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <!-- Include the form field for entering a new profile picture seed -->
      {{ form.newProfilePictureSeed() }}
      <!-- Submit button with reCAPTCHA integration -->
      <button type="submit" data-sitekey="{{ siteKey }}" data-callback="onSubmit" data-action="submit"
        class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
        set seed
      </button>
    </form>
    {% else %}
    <!-- Form for changing profile picture seed without reCAPTCHA -->
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <!-- Include the form field for entering a new profile picture seed -->
      {{ form.newProfilePictureSeed() }}
      <!-- Submit button without reCAPTCHA -->
      <button type="submit" class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
        set seed
      </button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock body %}