{% extends 'layout.html'%} {%block head%}
<title>Change Password</title>
{% endblock head %} {%block body%}
<div>
  <form method="post" class="mx-auto w-fit mt-8">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.oldPassword()}} {{form.password()}} {{form.passwordConfirm()}}
    <button
      type="submit"
      class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
    >
      change my password
    </button>
  </form>
</div>
{% endblock body %}
