{% extends 'layout.html.jinja'%} {%block head%} {% endblock head %} {%block
body%}
<div class="w-fit mx-auto text-center mt-16 text-lg">
  <h1>Fill the same form again.</h1>
  <p>Reason: {{reason}}</p>
</div>
{% endblock body %}
