{% extends 'layout.html'%} {%block head%} {% if request.path == "/admin/posts"
%}
<title>Admin Panel --> Posts</title>
{% else %}
<title>{{session["userName"]}}'s Dashboard</title>
{% endif %} {% endblock head %} {%block body%} {% if showPosts %}
<h1 class="my-4 text-4xl font-medium select-none text-center">Posts</h1>
{% for post in posts %}
<div
  class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 h-fit mx-auto py-4 px-2 my-8 border-2 rounded-md shadow-md
border-gray-500/25"
>
  <a
    href="/post/{{post[0]}}"
    class="text-rose-500 h-64 pb-8 text-2xl hover:text-rose-500/75 duration-150 select-none break-words"
    >{{post[1]}}</a
  >
  <div tag="content" class="h-60 overflow-y-hidden mt-6 mb-3 break-words">
    {{post[3]|safe}}
  </div>
  <section class="flex items-center justify-between my-2">
    <a
      href="/editpost/{{post[0]}}"
      class="hover:text-rose-500 duration-150 font-medium"
      ><i class="ti ti-edit mr-1 text-2xl"></i
    ></a>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="postID" value="{{post[0]}}" />
      <button
        type="submit"
        name="postDeleteButton"
        class="hover:text-rose-500 duration-150 font-medium"
      >
        <i class="ti ti-trash-x mr-1 text-2xl"></i>
      </button>
    </form>
  </section>
  <div class="flex items-center justify-between my-2">
    <p class="flex ">
      <i class="ti ti-tags mr-1 text-xl"></i>Tags: {{post[2]}}
    </p>
    <p class="flex"><i class="ti ti-eye mr-1 text-xl"></i>Views: {{post[7]}}</p>
  </div>
  <div class="flex items-center justify-between my-2">
    <p class="flex">
      <i class="ti ti-clock mr-1 text-xl"></i>Creation Time: {{post[6]}}
    </p>
    <p class="flex">
      <i class="ti ti-clock-edit mr-1 text-xl"></i>Last Edit Time: {{post[9]}}
    </p>
  </div>
  <div class="flex items-center justify-between my-2">
    <p class="flex">
      <i class="ti ti-calendar mr-1 text-xl"></i>Creation Date: {{post[5]}}
    </p>
    <p class="flex">
      <i class="ti ti-calendar-dot mr-1 text-xl"></i>Last Edit Date: {{post[8]}}
    </p>
  </div>
  {% if request.path == "/admin/posts" %}
  <p class="flex">
    <i class="ti ti-user mr-1 text-xl"></i>
    Author:&nbsp;
    <a href="/user/{{post[4].lower()}}" class="hover:text-rose-500 duration-150"
      >{{post[4]}}</a
    >
  </p>
  {% endif %}
</div>
{% endfor %} {% elif not showPosts %} {% if request.path == "/admin/posts" %}
<h1>This user haven't posted yet.</h1>
{% else %}
<p class="text-center mt-32 select-none">
  No post yet,
  <a href="/createpost" class="hover:text-rose-500 duration-150 font-medium"
    >create one</a
  >?
</p>
{% endif %} {% endif %} {% if showComments and not request.path ==
"/admin/posts"%}
<h1 class="my-4 text-4xl font-medium select-none text-center">Comments</h1>
{% for comment in comments %}
<div
  class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 h-fit mx-auto py-4 px-2 my-8 border-2 rounded-md shadow-md
border-gray-500/25"
>
  <div tag="content">{{comment[2]}}</div>
  <section class="flex items-center justify-between my-2">
    <p class="flex">
      <i class="ti ti-calendar mr-1 text-xl"></i>Creation Date: {{comment[4]}}
    </p>
    <p class="flex">
      <i class="ti ti-clock mr-1 text-xl"></i>Creation Time: {{comment[5]}}
    </p>
  </section>
  <a
    href="/post/{{comment[1]}}"
    class="hover:text-rose-500 duration-150 font-medium"
    >go to post</a
  >
</div>
{% endfor %} {% endif %} {% if request.path == "/admin/posts" %}
<a href="/admin" class="fixed bottom-0 left-1"
  ><i
    class="ti ti-arrow-back mr-1 text-xl hover:text-rose-500 duration-150"
  ></i>
</a>
{% else %}<a href='/user/{{session["userName"]}}' class="fixed bottom-0 left-1"
  ><i
    class="ti ti-arrow-back mr-1 text-xl hover:text-rose-500 duration-150"
  ></i> </a
>{% endif %} {% endblock body %}
