{% extends 'layout.html.jinja' %}

{% block head %}
<!-- Set the title dynamically based on the request path -->
{% if request.path == "/admin/posts" %}
<title>Admin Panel --> Posts</title>
{% else %}
<title>{{ session["userName"] }}'s Dashboard</title>
{% endif %}
{% endblock head %}

{% block body %}
<!-- Body Section -->
{% if showPosts %}
<!-- Display Posts Section -->
<h1 class="my-4 text-4xl font-medium select-none text-center">Posts</h1>

{% for post in posts %}
<!-- Individual Post Container -->
<div
  class="w-11/12 md:w-10/12 lg:w-8/12 xl:w-5/12 h-fit mx-auto py-4 px-2 my-8 border-2 rounded-md shadow-md border-gray-500/25">

  <!-- Post Banner -->
  <img src="{{ url_for('returnPostBanner.returnPostBanner', postID = post[0]) }}" class="w-96 rounded mx-auto" />

  <!-- Post Title with Link -->
  <a href="/post/{{ post[0] }}"
    class="text-rose-500 h-64 pb-8 text-2xl hover:text-rose-500/75 duration-150 select-none break-words">{{ post[1]
    }}</a>

  <!-- Post Content -->
  <div tag="content" class="h-60 overflow-y-hidden mt-6 mb-3 break-words">
    {{ post[3]|safe }}
  </div>

  <!-- Section: Edit/Delete Post -->
  <section class="flex items-center justify-between my-2">
    <a href="/editpost/{{ post[0] }}" class="hover:text-rose-500 duration-150 font-medium">
      <i class="ti ti-edit mr-1 text-2xl"></i>
    </a>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="postID" value="{{ post[0] }}" />
      <button type="submit" name="postDeleteButton" class="hover:text-rose-500 duration-150 font-medium">
        <i class="ti ti-trash-x mr-1 text-2xl"></i>
      </button>
    </form>
  </section>

  <!-- Section: Tags, Views, Creation Time, Last Edit Time -->
  <div class="flex items-center justify-between my-2">
    <div class="flex items-center">
      <i class="ti ti-tags mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Tags:</p>
      <p class="font-medium">{{ post[2] }}</p>
    </div>
    <div class="flex items-center">
      <i class="ti ti-eye mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Views:</p>
      <p class="font-medium">{{ post[6] }}</p>
    </div>
  </div>

  <!-- Section: Creation Time, Last Edit Time -->
  <div class="flex items-center justify-between my-2">
    <div class="flex items-center">
      <i class="ti ti-clock mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Creation Time:</p>
      <p class="time font-medium">{{ post[7] }}</p>
    </div>
    <div class="flex items-center">
      <i class="ti ti-clock-edit mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Last Edit Time:</p>
      <p class="time font-medium">{{ post[8] }}</p>
    </div>
  </div>

  <!-- Section: Creation Date, Last Edit Date -->
  <div class="flex items-center justify-between my-2">
    <div class="flex items-center">
      <i class="ti ti-calendar mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Creation Date:</p>
      <p class="date font-medium">{{ post[7] }}</p>
    </div>
    <div class="flex items-center">
      <i class="ti ti-calendar-dot mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Last Edit Date:</p>
      <p class="date font-medium">{{ post[8] }}</p>
    </div>
  </div>

  <!-- Section: Author, Category (if in admin/posts) -->
  <div class="flex items-center justify-between my-2">
    {% if request.path == "/admin/posts" %}
    <div class="flex items-center">
      <i class="ti ti-user mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Author:</p>
      <a href="/user/{{ post[5].lower() }}" class="hover:text-rose-500 duration-150 font-medium">{{ post[5] }}</a>
    </div>
    {% endif %}
    <div class="flex items-center">
      <i class="ti ti-category mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Category:</p>
      <p class="font-medium">{{ post[9] }}</p>
    </div>
  </div>

</div>
{% endfor %}

{% elif not showPosts %}
<!-- Display Message for No Posts -->
{% if request.path == "/admin/posts" %}
<h1>This user hasn't posted yet.</h1>
{% else %}
<p class="text-center mt-32 select-none">
  No post yet,
  <a href="/createpost" class="hover:text-rose-500 duration-150 font-medium">create one</a>?
</p>
{% endif %}
{% endif %}

<!-- Display Comments Section -->
{% if showComments and not request.path == "/admin/posts" %}
<h1 class="my-4 text-4xl font-medium select-none text-center">Comments</h1>

{% for comment in comments %}
<!-- Individual Comment Container -->
<div
  class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 h-fit mx-auto py-4 px-2 my-8 border-2 rounded-md shadow-md border-gray-500/25">

  <!-- Comment Content -->
  <div tag="content">{{ comment[2] }}</div>

  <!-- Section: Creation Date, Creation Time -->
  <section class="flex items-center justify-between my-2">
    <div class="flex items-center">
      <i class="ti ti-calendar mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Creation Date:</p>
      <p class="date">{{ comment[4] }}</p>
    </div>
    <div class="flex items-center">
      <i class="ti ti-clock mr-1 text-xl"></i>
      <p class="hidden md:block mr-1">Creation Time:</p>
      <p class="time">{{ comment[4] }}</p>
    </div>
  </section>

  <!-- Link to Go to Post -->
  <a href="/post/{{ comment[1] }}" class="hover:text-rose-500 duration-150 font-medium">go to post</a>

</div>
{% endfor %}
{% endif %}

<!-- Back Button -->
{% if request.path == "/admin/posts" %}
<a href="/admin" class="hidden md:block fixed bottom-0 left-1">
  <i class="ti ti-arrow-back mr-1 text-xl hover:text-rose-500 duration-150"></i>
</a>
{% else %}
<a href='/user/{{ session["userName"] }}' class="hidden md:block fixed bottom-0 left-1">
  <i class="ti ti-arrow-back mr-1 text-xl hover:text-rose-500 duration-150"></i>
</a>
{% endif %}
{% endblock body %}