{% extends 'layout.html'%} {%block head%} {% if request.path == "/admin/posts"
%}
<title>Admin Panel --> Posts</title>
{% else %}
<title>{{session["userName"]}}'s Dashboard</title>
{% endif %} {% endblock head %} {%block body%} {% if showPosts %}
<h1>Posts</h1>
{% for post in posts %}
<div>
  <a href="/post/{{post[0]}} ">{{post[1]}}</a>
  <div tag="content">{{post[3]|safe}}</div>
  <section>
    <a href="/editpost/{{post[0]}}">edit</a>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="postID" value="{{post[0]}}" />
      <button
        type="submit"
        name="postDeleteButton"
        class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
      >
        delete
      </button>
    </form>
  </section>
  <div>
    <div class="flex items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-tags mr-1"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M3 8v4.172a2 2 0 0 0 .586 1.414l5.71 5.71a2.41 2.41 0 0 0 3.408 0l3.592 -3.592a2.41 2.41 0 0 0 0 -3.408l-5.71 -5.71a2 2 0 0 0 -1.414 -.586h-4.172a2 2 0 0 0 -2 2z"
        />
        <path d="M18 19l1.592 -1.592a4.82 4.82 0 0 0 0 -6.816l-4.592 -4.592" />
        <path d="M7 10h-.01" />
      </svg>
      {{post[2]}}
    </div>
    <p>Views: {{post[7]}}</p>
  </div>
  <div>
    <p>Creation Time: {{post[6]}}</p>
    <p>Last Edit Time: {{post[9]}}</p>
  </div>
  <div>
    <p>Creation Date: {{post[5]}}</p>
    <p>Last Edit Date: {{post[8]}}</p>
  </div>
  {% if request.path == "/admin/posts" %}
  <p>
    Author:
    <a href="/user/{{post[4].lower()}}">{{post[4]}}</a>
  </p>
  {% endif %}
</div>
{% endfor %} {% elif not showPosts %} {% if request.path == "/admin/posts" %}
<h1>This user haven't posted yet.</h1>
{% else %}
<p>
  No post yet,
  <a href="/createpost">create one</a>?
</p>
{% endif %} {% endif %} {% if showComments and not request.path ==
"/admin/posts"%}
<h1>Comments</h1>
{% for comment in comments %}
<div>
  <div tag="content">{{comment[2]}}</div>
  <section>
    <p>Creation Date: {{comment[4]}}</p>
    <p>Creation Time: {{comment[5]}}</p>
  </section>
  <a href="/post/{{comment[1]}}">go to post</a>
</div>
{% endfor %} {% endif %} {% if request.path == "/admin/posts" %}
<a href="/admin"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-tabler icon-tabler-arrow-back hover:text-rose-500 duration-150"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" /></svg
></a>
{% endif %} {% endblock body %}
