{% extends 'layout.html'%} {%block head%} {% if request.path == "/admin/posts"
%}
<title>Admin Panel --> Posts</title>
{% else %}
<title>{{session["userName"]}}'s Dashboard</title>
{% endif %} {% endblock head %} {%block body%} {% if showPosts %}
<h1>Posts</h1>
{% for post in posts %}
<div>
  <a href="/post/{{post[0]}} ">{{post[1]}}</a>
  <div tag="content">{{post[3]|safe}}</div>
  <section>
    <a href="/editpost/{{post[0]}}">edit</a>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="postID" value="{{post[0]}}" />
      <button
        type="submit"
        name="postDeleteButton"
        class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
      >
        delete
      </button>
    </form>
  </section>
  <div>
    <p>Tags: {{post[2]}}</p>
    <p>Views: {{post[7]}}</p>
  </div>
  <div>
    <p>Creation Time: {{post[6]}}</p>
    <p>Last Edit Time: {{post[9]}}</p>
  </div>
  <div>
    <p>Creation Date: {{post[5]}}</p>
    <p>Last Edit Date: {{post[8]}}</p>
  </div>
  {% if request.path == "/admin/posts" %}
  <p>
    Author:
    <a href="/user/{{post[4].lower()}}">{{post[4]}}</a>
  </p>
  {% endif %}
</div>
{% endfor %} {% elif not showPosts %} {% if request.path == "/admin/posts" %}
<h1>This user haven't posted yet.</h1>
{% else %}
<p>
  No post yet,
  <a href="/createpost">create one</a>?
</p>
{% endif %} {% endif %} {% if showComments and not request.path ==
"/admin/posts"%}
<h1>Comments</h1>
{% for comment in comments %}
<div>
  <div tag="content">{{comment[2]}}</div>
  <section>
    <p>Creation Date: {{comment[4]}}</p>
    <p>Creation Time: {{comment[5]}}</p>
  </section>
  <a href="/post/{{comment[1]}}">go to post</a>
</div>
{% endfor %} {% endif %} {% if request.path == "/admin/posts" %}
<a href="/admin">↩️go back to admin panel</a>
{% endif %} {% endblock body %}
