{% extends 'layout.html.jinja' %}
{% block head %}
<!-- Set the title of the Edit Post page -->
<title>Edit Post</title>
{% endblock head %}

{% block body %}
<!-- Container for the Edit Post content -->
<div class="w-fit mx-auto mt-8">

  {% if recaptcha %}
  <!-- Include scripts for Google reCAPTCHA -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>

  <!-- Form for editing post with reCAPTCHA -->
  <form method="post" id="recaptchaForm" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <!-- Input fields for post title and tags -->
    {{ form.postTitle(autocomplete="off") }} {{ form.postTags(autocomplete="off") }}
    <p class="text-xs text-center w-fit mx-auto mb-2">(separate with comma)</p>

    <!-- Section for current and new post banners -->
    <div class="w-fit mx-auto text-center my-4">
      <p class="mb-2">Current Banner</p>
      <img src="{{ url_for('returnPostBanner.returnPostBanner', postID = id) }}"
        class="h-48 group-hover:scale-110 transition duration-150 object-cover w-max rounded-t-md mx-auto select-none" />
      <p class="mt-2">New Banner</p>
      {{ form.postBanner(class_="") }}
    </div>

    <!-- Select a Category dropdown -->
    <div class="mx-auto w-fit">
      <label class="block my-1 text-center">Select a Category</label>
      {{ form.postCategory() }}
    </div>

    <!-- Post content editor -->
    <div>
      {{ form.postContent(id_="editor", autocomplete="off") }}
    </div>

    <!-- Save button with reCAPTCHA integration -->
    <button type="submit" data-sitekey="{{ siteKey }}" data-callback="onSubmit" data-action="submit"
      class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium">
      Save
    </button>
  </form>

  {% else %}

  <!-- Form for editing post without reCAPTCHA -->
  <form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <!-- Input fields for post title and tags -->
    {{ form.postTitle(autocomplete="off") }} {{ form.postTags(autocomplete="off") }}
    <p class="text-xs text-center w-fit mx-auto mb-2">(separate with comma)</p>

    <!-- Section for current and new post banners -->
    <div class="w-fit mx-auto text-center my-4">
      <p class="mb-2">Current Banner</p>
      <img src="{{ url_for('returnPostBanner.returnPostBanner', postID = id) }}"
        class="h-48 group-hover:scale-110 transition duration-150 object-cover w-max rounded-t-md mx-auto select-none" />
      <p class="mt-2">New Banner</p>
      {{ form.postBanner(class_="") }}
    </div>

    <!-- Select a Category dropdown -->
    <div class="mx-auto w-fit">
      <label class="block my-1 text-center">Select a Category</label>
      {{ form.postCategory() }}
    </div>

    <!-- Post content editor -->
    <div>
      {{ form.postContent(id_="editor", autocomplete="off") }}
    </div>

    <!-- Save button without reCAPTCHA -->
    <button type="submit" class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium">
      Save
    </button>
  </form>
  {% endif %}
</div>
{% endblock body %}