{% extends 'layout.html'%} {%block head%}
<title>flaskBlog</title>
{% endblock head %} {%block body%} {% for post in posts %}
<div
  class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 h-fit mx-auto py-4 px-2 my-8 border-2 rounded-md shadow-md
border-gray-500/25"
>
  <a
    href="post/{{post[0]}}"
    class="text-rose-500 h-64 pb-8 text-2xl hover:text-rose-500/75 duration-150 select-none break-words"
    >{{post[1]}}</a
  >
  <div tag="content" class="h-60 overflow-y-hidden mt-6 mb-3 break-words">
    {{post[3]|safe}}
  </div>
  <p class="select-none">...</p>
  <a
    href="post/{{post[0]}}"
    class="text-rose-500 hover:text-rose-500/75 duration-150 select-none"
  >
    read more</a
  >
</div>
{% endfor %} {% endblock body %}
