<div
  class="flex items-center justify-center gap-8 md:gap-32 mt-8 lg:mt-4 text-2xl font-medium select-none max-w-max mx-auto"
>
  <a href="/" class="pl-1 hover:text-rose-500 duration-150"
    ><h1>flaskBlog</h1></a
  >
  <div class="hidden lg:block">
    <input
      type="text"
      id="searchInput"
      autocomplete="off"
      placeholder="search"
      class="w-80 h-10 m-2 rounded-md p-2 text-center outline-rose-500 bg-transparent focus:outline-none focus:ring focus:ring-rose-500 duration-150"
    /><button
      onclick="search()"
      class="text-xl hover:text-rose-500 duration-150"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-search mt-4"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
        <path d="M21 21l-6 -6" />
      </svg>
    </button>
  </div>
  <div class="flex items-center justify-center gap-4 font-medium select-none">
    <div class="block lg:hidden">
      <a href="/searchbar"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-search"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
          <path d="M21 21l-6 -6" /></svg
      ></a>
    </div>
    {% if session["userName"] %}
    <a href="/user/{{session['userName'].lower()}}">
      <div>
        <img
          class="block w-7 h-7"
          src="{{ getProfilePicture(session['userName']) }}"
        />
      </div>
    </a>
    <a href="/createpost" class="w-7 h-7">
      <button class="text-xl hover:text-rose-500 duration-150">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-text-plus"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M19 10h-14" />
          <path d="M5 6h14" />
          <path d="M14 14h-9" />
          <path d="M5 18h6" />
          <path d="M18 15v6" />
          <path d="M15 18h6" />
        </svg>
      </button>
    </a>
    <a
      href="/logout"
      title="logout"
      class="text-xl hover:text-rose-500 duration-150 w-7 h-7"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-logout"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
        />
        <path d="M9 12h12l-3 -3" />
        <path d="M18 15l3 -3" /></svg
    ></a>
    {% elif hideLogin %}
    <a href="/signup"
      ><button class="text-xl hover:text-rose-500 duration-150">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-user-plus"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
          <path d="M16 19h6" />
          <path d="M19 16v6" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
        </svg></button
    ></a>
    {% elif hideSignUp %}
    <a href="/login/redirect=&" class="w-7 h-7"
      ><button class="text-xl hover:text-rose-500 duration-150">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-login"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
          />
          <path d="M21 12h-13l3 -3" />
          <path d="M11 15l-3 -3" />
        </svg></button
    ></a>
    {%else%}
    <a href="/login/redirect=&" class="w-7 h-7"
      ><button class="text-xl hover:text-rose-500 duration-150">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-login"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path
            d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"
          />
          <path d="M21 12h-13l3 -3" />
          <path d="M11 15l-3 -3" />
        </svg></button
    ></a>
    <a href="/signup" class="w-7 h-7"
      ><button class="text-xl hover:text-rose-500 duration-150">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-user-plus"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
          <path d="M16 19h6" />
          <path d="M19 16v6" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
        </svg></button
    ></a>
    {% endif %}
  </div>
  <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
</div>
