{% extends 'layout.html'%} {%block head%}
<title>Password Reset</title>
{% endblock head %} {%block body%}
<div>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if mailSent %} {{form.code(autocomplete="off",class_="")}}
    {{form.password(autocomplete="off",class_="")}}
    {{form.passwordConfirm(autocomplete="off",class_="")}}
    <button type="submit">Reset password</button> {% else %}
    {{form.userName(class_="",autocomplete="off")}}
    {{form.email(class_="",autocomplete="off")}}
    <button type="submit">Send code</button>
    {% endif %}
  </form>
</div>
{% endblock body %}
