{% extends 'layout.html'%} {%block head%}
<title>Password Reset</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto text-center mt-32">
  {% if recaptcha %}
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
  <form method="post" id="recaptchaForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if mailSent %} {{form.code(autocomplete="off")}}
    {{form.password(autocomplete="off")}}
    {{form.passwordConfirm(autocomplete="off")}}
    <button
      type="submit"
      data-sitekey="{{ siteKey }}"
      data-callback="onSubmit"
      data-action="submit"
      class="g-recaptcha hover:text-rose-500 duration-150"
    >
      Reset password
    </button>
    {% else %} {{form.userName(autocomplete="off")}}
    {{form.email(autocomplete="off")}}
    <button
      type="submit"
      data-sitekey="{{ siteKey }}"
      data-callback="onSubmit"
      data-action="submit"
      class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
    >
      Send code
    </button>
    {% endif %}
  </form>
  {% else %}
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if mailSent %} {{form.code(autocomplete="off")}}
    {{form.password(autocomplete="off")}}
    {{form.passwordConfirm(autocomplete="off")}}
    <button type="submit" class="hover:text-rose-500 duration-150">
      Reset password
    </button>
    {% else %} {{form.userName(autocomplete="off")}}
    {{form.email(autocomplete="off")}}
    <button
      type="submit"
      class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
    >
      Send code
    </button>
    {% endif %}
  </form>
  {% endif %}
</div>
{% endblock body %}
