{% extends 'layout.html'%} {%block head%}
<title>Password Reset</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto text-center mt-32">
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if mailSent %} {{form.code(autocomplete="off")}}
    {{form.password(autocomplete="off")}}
    {{form.passwordConfirm(autocomplete="off")}}
    <button type="submit" class="hover:text-rose-500 duration-150">
      Reset password
    </button>
    {% else %} {{form.userName(autocomplete="off")}}
    {{form.email(autocomplete="off")}}
    <button
      type="submit"
      class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
    >
      Send code
    </button>
    {% endif %}
  </form>
</div>
{% endblock body %}
