{% extends 'layout.html.jinja' %}
{% block head %}
<!-- Set the title of the About page with the post tittle -->
<title>{{ translations.analytics.title}} : {{ post[1] }}</title>

<!-- Apex charts cdn link for rendering charts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

{% endblock head %}

{% block body %}

<div class="mx-auto mt-6 md:mt-10 md:max-w-[868px] break-words px-4 py-8 sm:px-6 sm:py-12 lg:px-8">

  <div class="mx-auto max-w-screen-xl">
    <div class="mx-auto max-w-3xl text-center">

      <!-- Post title -->
      <h2 class="text-3xl font-bold sm:text-4xl">{{ post[1] }}</h2>

      <div class="mt-4 text-gray-500 sm:text-sm flex justify-center gap-2">

        <!-- Post author -->
        <a href="/user/{{ post[5] | lower }}" class="hover:text-rose-500/75 duration-150">
          <h5 class="m-1 flex">
            <img class="w-7 mr-2 select-none" src="{{ getProfilePicture( post[5]) }}" alt="{{ post[5] }}" />
            {{ post[5] }}
          </h5>
        </a>

        <!-- Go to page -->
        <div class="w-[2px] bg-slate-500 rounded mx-[4px] h-[28px] mt-[4px]"></div>
        <a class="hover:text-rose-500/75 mt-[5px]" href="/post/{{ post[10] }}">{{ translations.analytics.goToPage }}</a>
      </div>
    </div>

    <!-- Total vistior -->
    <dl class="mt-6 grid grid-cols-1 gap-4 sm:mt-8 sm:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col rounded-lg bg-rose-50 px-4 py-8 text-center">
        <dt class="order-last text-lg font-medium text-gray-500">{{ translations.analytics.totalVisitor }}</dt>

        <dd class="text-4xl font-extrabold text-rose-500/75 md:text-5xl">{{ post[6] }}</dd>
      </div>

      <!-- Today's visitor -->
      <div class="flex flex-col rounded-lg bg-rose-50 px-4 py-8 text-center">
        <dt class="order-last text-lg font-medium text-gray-500">{{ translations.analytics.todaysVisitor }}</dt>

        <dd class="text-4xl font-extrabold text-rose-500/75 md:text-5xl">{{ todaysVisitor }}</dd>
      </div>

      <!-- Post Category -->
      <div class="flex flex-col rounded-lg bg-rose-50 px-4 py-8 text-center">
        <dt class="order-last text-lg font-medium text-gray-500">{{ translations.analytics.category }}</dt>

        <dd class="text-4xl font-extrabold text-rose-500/75 md:text-4xl">{{ post[9] }}</dd>
      </div>

      <!-- On posted -->
      <div class="flex flex-col rounded-lg bg-rose-50 px-4 py-8 text-center">
        <dt class="order-last text-lg font-medium text-gray-500">{{ translations.analytics.onPosted }}</dt>

        <dd class="text-4xl font-extrabold text-rose-500/75 md:text-4xl date">{{ post[7] }}</dd>
      </div>
    </dl>
  </div>

  <br><br>

  <!-- Traffic count -->
  <h2 class="text-2xl text-black-900 m-2 font-bold">{{ translations.analytics.trafficCount }}</h2>

  <!-- Duration rage picker starts here  -->
  <!-- Duration tab for mobile screens -->
  <div class="flex flex-row justify-end m-4">
    <div class="sm:hidden flex gap-1">
      <label for="durationRangetab" class="sr-only"></label>
      <select id="durationRangetab" class="w-full rounded-md border-gray-200" id="choiceSelect">
        <!-- Since Posted Tab button -->
        <option value="sincePosted">{{ translations.analytics.sincePosted }}</option>

        <!-- Last 1 Month Tab button -->
        <option value="last1m">{{ translations.analytics.last1month }}</option>

        <!-- Last 7 days Tab button -->
        <option value="last7d">{{ translations.analytics.last7days }}</option>

        <!-- Last 24 hours Tab button -->
        <option value="last24h">{{ translations.analytics.last24hours }}</option>

        <!-- Last 48 hours Tab button -->
        <option value="last48h" selected>{{ translations.analytics.last48hours }}</option>
      </select>
      <div class="hidden w-5 h-5 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="dropDownMenuSpinner"></div>
    </div>
    <!-- Duration tab for mobile screens ends here -->


    <!-- Duration tab for wide srceens starts here-->
    <div class="hidden sm:block">
      <nav class="flex gap-6" aria-label="Tabs">
        
        <!-- Since Posted Tab button -->
        <div class="button-container flex items-center gap-1">
          <div id="sincePosted" onclick="changeTabState('sincePosted')"
            class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:text-rose-500/75 hover:text-gray-700 hover:cursor-pointer">
            {{ translations.analytics.sincePosted }}
          </div>
          <div class="hidden w-5 h-5 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="sincePosted1"></div>
        </div>

        <!-- Last 1 Month Tab button -->
        <div class="button-container flex items-center gap-1">
          <div id="last1m" onclick="changeTabState('last1m')"
            class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:text-rose-500/75 hover:text-gray-700 hover:cursor-pointer">
            {{ translations.analytics.last1month }}
          </div>
          <div class="hidden w-5 h-5 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="last1m1"></div>
        </div>

        <!-- Last 7 days Tab button -->
        <div class="button-container flex items-center gap-1">
          <div id="last7d" onclick="changeTabState('last7d')"
            class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:text-rose-500/75 hover:text-gray-700 hover:cursor-pointer">
            {{ translations.analytics.last7days }}
          </div>
          <div class="hidden w-5 h-5 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="last7d1"></div>
        </div>

        <!-- Last 24 hours Tab button -->
        <div class="button-container flex items-center gap-1">
          <div id="last24h" onclick="changeTabState('last24h')"
            class="shrink-0 rounded-lg p-2 text-sm font-medium text-gray-500 hover:text-rose-500/75 hover:text-gray-700 hover:cursor-pointer">
            {{ translations.analytics.last24hours }}
          </div>
          <div class="hidden w-5 h-5 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="last24h1"></div>
        </div>

        <!-- Last 48 hours Tab button -->
        <div class="button-container flex items-center gap-1">
          <div id="last48h" onclick="changeTabState('last48h')"
            class="shrink-0 rounded-lg p-2 text-sm font-medium bg-rose-500/75 text-black hover:cursor-pointer">
            {{ translations.analytics.last48hours }}
          </div>
          <div class="hidden w-5 h-5 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="last48h1"></div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Duration rage tab picker for wide screens ends here -->

  <!-- Line chart starts here -->
  <!-- https://apexcharts.com/docs/chart-types/line-chart/ -->
  <div>
    <!-- LineCart graph container -->
    <div id="lineChart"></div>

    <!-- Show approriate message on progress/error -->
    <div class="flex justify-center item-center">
      <!-- LineChart spinner -->
      <div class="hidden w-16 h-16 mt-4 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="lineChartSpinner"></div>

      <!-- Display error -->
      <div class="hidden my-4" id="lineChartErrorContainer">
        <!-- Display an apology message -->
        <h1>
          {{translations.notFound.sorry}}
        </h1>

        <!-- Display a sad mood icon -->
        <i class="ti ti-mood-sad my-4 text-4xl"></i>
      </div>
    </div>
  </div>
  <!-- line chart ends here -->

  <br>
  <!-- Pie chart -->
  <h2 class="text-xl m-2 font-bold">{{ translations.analytics.computerOS }}</h2>
  <!-- Docs https://apexcharts.com/docs/chart-types/pie-donut/ -->
  <div id="pieChart" class="flex justify-center"></div>

  <script>
    // Initialize veriables to accessin js file
    let postID = '{{ post[0] }}';
    let visitorCounts = '{{ translations.analytics.visitorCounts }}';
    let traffic = '{{ translations.analytics.traffic }}';
    let visitor = "{{ translations.analytics.visitor }}";
    var osGraphData = {{ osGraphData | safe }}
  </script>


  <!-- Basic bar chart for country -->
  <!-- Docs https://apexcharts.com/docs/chart-types/bar-chart/ -->
  <div>
    <h2 class="text-2xl font-bold m-2">{{ translations.analytics.topCountries }}</h2>
    <div class="flex flex-col justify-center">
      <!-- barChart graph container -->
      <div id="barChart"></div>

      <!-- Show approriate message on progress/error -->
      <div class="flex justify-center item-center">
        <!-- barChart spinner -->
        <div class="hidden w-16 h-16 mt-4 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="barChartSpinner"></div>

        <!-- Display error -->
        <div class="hidden my-4" id="barChartErrorContainer">
          <!-- Display an apology message -->
          <h1>
            {{translations.notFound.sorry}}
          </h1>

          <!-- Display a sad mood icon -->
          <i class="ti ti-mood-sad my-4 text-4xl"></i>
        </div>
      </div>
    </div>
    <div class="flex justify-center item-center">
      <!-- View All Button -->
      <button onclick="onViewAllClick()" id="viewAll" type="button"
        class="flex whitespace-nowrap items-center h-6 px-5 font-medium rounded-lg outline-none hover:text-rose-500/75 focus:text-rose-500">
        {{ translations.analytics.viewAll }}
      </button>
      <!-- View All spinner -->
      <div class="hidden w-5 h-5 border-4 border-blue-500 border-t-transparent rounded-full animate-spin" id="viewAllSpinner"></div>
    </div>
  </div>

</div>

<!-- Include the JavaScript file for postsAnalytics functionality -->
<script src="{{ url_for('static', filename='js/postsAnalytics.js') }}"></script>

{% endblock body %}