{% extends 'layout.html.jinja' %}
{% block head %}
<title>{{translations.privacyPolicy.title}}</title>
{% endblock head %}
{% block body %}
<!-- Main content section -->
<div class="w-10/12 md:w-4/6 lg:w-6/12 xl:w-5/12 mx-auto mt-16">
    <!-- Title -->
    <h1 class="text-3xl font-bold mb-4">{{translations.privacyPolicy.title}}</h1>
    <!-- Introduction -->
    <p class="mb-4">{{translations.privacyPolicy.intro}}</p>

    <!-- Information Collection and Use -->
    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.information}}</h2>
    <!-- Description of data collection -->
    <p class="mb-4">{{translations.privacyPolicy.informationText}}</p>
    <!-- List of collected data -->
    <ul class="list-disc ml-8 mb-4">
        <li>{{translations.privacyPolicy.informationUser}}</li>
        <li>{{translations.privacyPolicy.informationPost}}</li>
        <li>{{translations.privacyPolicy.informationGeneral}}</li>
    </ul>

    <!-- Cookies -->
    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.cookies}}</h2>
    <!-- Description of cookie usage -->
    <p class="mb-4">O{{translations.privacyPolicy.cookiesText}}</p>
    <!-- List of cookies -->
    <ul class="list-disc ml-8 mb-4">
        <li>{{translations.privacyPolicy.cookiesTheme}}</li>
        <li>{{translations.privacyPolicy.cookiesLanguage}}</li>
    </ul>
    </ul>

    <!-- Service Providers -->
    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.serviceProviders}}</h2>
    <!-- Description of third-party involvement -->
    <p class="mb-4">{{translations.privacyPolicy.serviceProvidersText}}</p>

    <!-- Links to Other Sites -->
    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.otherLinks}}</h2>
    <!-- Description of external links -->
    <p class="mb-4">{{translations.privacyPolicy.otherLinksText}}</p>

    <!-- Security -->
    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.security}}</h2>
    <!-- Description of security measures -->
    <p class="mb-4">{{translations.privacyPolicy.securityText}}</p>

    <!-- Children's Privacy -->
    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.children}}</h2>
    <!-- Description of age restriction -->
    <p class="mb-4">{{translations.privacyPolicy.childrenText}}</p>

    <!-- Changes to This Privacy Policy -->
    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.changes}}</h2>
    <!-- Description of policy update -->
    <p class="mb-4">{{translations.privacyPolicy.changesText}}</p>

    <!-- Contact Us -->
    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.contact}}</h2>
    <!-- Contact information -->
    <p>{{translations.privacyPolicy.contactText}}
        <a href="mailto:dogukanurker@icloud.com"
            class="text-rose-500 hover:text-rose-600 duration-150">dogukanurker@icloud.com</a>.
    </p>
</div>

<!-- Footer section with About link and attribution -->
<div class="text-center mt-8 mb-2 text-xs font-medium">
    <div class="mb-1">
        <!-- Link to the About page with a target attribute to open in a new tab -->
        <a href="/about" class="text-rose-500 hover:text-rose-600 duration-150" target="_blank">{{
            translations.about.title }}</a>
    </div>
    <!-- Attribution and appreciation for the original code -->
    <!-- Please respect this code’s originality and credit the original repo. Thanks for your cooperation. 💜 -->
    {{ translations.about.credits }}
</div>
{% endblock body %}