{% extends 'layout.html.jinja' %}
{% block head %}
<title>Privacy Policy</title>
{% endblock head %}
{% block body %}
<!-- Main content section -->
<div class="w-10/12 md:w-4/6 lg:w-6/12 xl:w-5/12 mx-auto mt-16">
    <!-- Title -->
    <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>
    <!-- Introduction -->
    <p class="mb-4">This Privacy Policy describes how Dogukan Urker's Flask Blog ("we", "us", or "our") collects, uses,
        and discloses your information when you use our mobile application (the "App").</p>

    <!-- Information Collection and Use -->
    <h2 class="text-2xl font-semibold mb-2">Information Collection and Use</h2>
    <!-- Description of data collection -->
    <p class="mb-4">When you use our App, we collect and log various types of user activity data, including but not
        limited to:</p>
    <!-- List of collected data -->
    <ul class="list-disc ml-8 mb-4">
        <li>User login data: We collect information related to user login activities for authentication and
            security purposes.</li>
        <li>Post and comment data: We collect information about posts and comments made within the App for
            functionality and user engagement purposes.</li>
        <li>General user activity: We log various user activities within the App to improve user experience,
            troubleshoot technical issues, and analyze usage patterns.</li>
    </ul>

    <!-- Cookies -->
    <h2 class="text-2xl font-semibold mb-2">Cookies</h2>
    <!-- Description of cookie usage -->
    <p class="mb-4">Our App uses cookies to enhance the user experience. The cookies we use include:</p>
    <!-- List of cookies -->
    <ul class="list-disc ml-8 mb-4">
        <li>UI theme cookie: We store the user's selected UI theme preference to personalize the appearance of
            the App.</li>
    </ul>

    <!-- Service Providers -->
    <h2 class="text-2xl font-semibold mb-2">Service Providers</h2>
    <!-- Description of third-party involvement -->
    <p class="mb-4">We may employ third-party companies or individuals to facilitate our App or provide services
        on our behalf. These third parties may have access to your information to perform tasks such as
        analytics, hosting, and technical support. However, they are obligated not to disclose or use it for any
        other purpose.</p>

    <!-- Links to Other Sites -->
    <h2 class="text-2xl font-semibold mb-2">Links to Other Sites</h2>
    <!-- Description of external links -->
    <p class="mb-4">Our App may contain links to external sites, including Twitter and Dogukan Urker's personal
        site. We are not responsible for the content or privacy practices of such external sites. We encourage
        users to review the privacy policies of these sites before providing any personal information.</p>

    <!-- Security -->
    <h2 class="text-2xl font-semibold mb-2">Security</h2>
    <!-- Description of security measures -->
    <p class="mb-4">We take reasonable precautions to protect the information collected through our App. However,
        please be aware that no method of transmission over the internet or method of electronic storage is
        100% secure, and we cannot guarantee absolute security.</p>

    <!-- Children's Privacy -->
    <h2 class="text-2xl font-semibold mb-2">Children's Privacy</h2>
    <!-- Description of age restriction -->
    <p class="mb-4">Our App is not intended for use by individuals under the age of 13. We do not knowingly
        collect personal identifiable information from children under 13. If you are a parent or guardian and
        you are aware that your child has provided us with personal information, please contact us so that we
        will be able to take necessary actions.</p>

    <!-- Changes to This Privacy Policy -->
    <h2 class="text-2xl font-semibold mb-2">Changes to This Privacy Policy</h2>
    <!-- Description of policy update -->
    <p class="mb-4">We may update our Privacy Policy from time to time. Thus, you are advised to review this page
        periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on
        this page.</p>

    <!-- Contact Us -->
    <h2 class="text-2xl font-semibold mb-2">Contact Us</h2>
    <!-- Contact information -->
    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at
        <a href="mailto:dogukanurker@icloud.com"
            class="text-rose-500 hover:text-rose-600 duration-150">dogukanurker@icloud.com</a>.
    </p>
</div>

<!-- Footer section with About link and attribution -->
<div class="text-center mt-8 mb-2 text-xs font-medium">
    <div class="mb-1">
        <!-- Link to the About page with a target attribute to open in a new tab -->
        <a href="/about" class="text-rose-500 hover:text-rose-600 duration-150" target="_blank">About</a>
    </div>
    <!-- Attribution and appreciation for the original code -->
    <!-- Please respect this code’s originality and credit the original repo. Thanks for your cooperation. 💜 -->
    Made with <i class="ti ti-heart-filled text-rose-500"></i> by
    <a href="https://dogukanurker.com/" target="_blank" class="text-rose-500 hover:text-rose-600 font-medium">Dogukan
        Urker</a>
    <br />
</div>
{% endblock body %}