{% extends 'layout.html.jinja' %}

{% block head %}
<!-- Set the title of the page to "Search" -->
<title>Search</title>
{% endblock head %}

{% block body %}
<div class="w-fit mx-auto mt-32">
  <!-- Search bar input and button -->
  <div>
    <input type="text" id="searchBarInput" autocomplete="off" placeholder="search"
      class="w-72 h-10 text-xl m-2 rounded-md p-2 text-center outline-rose-500 bg-transparent focus:outline-none focus:ring focus:ring-rose-500 duration-150" />
    <button onclick="searchBar()" class="hover:text-rose-500 duration-150">
      <i class="ti ti-search ml-2 text-2xl"></i>
    </button>
  </div>
</div>

<!-- Include the JavaScript file for search functionality -->
<script src="{{ url_for('static', filename='js/searchBar.js') }}"></script>
{% endblock body %}