{% extends 'layout.html'%} {%block head%}
<title>Search results for {{query}}</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto">
  <h3 class="text-2xl text-center my-4">
    search results for "{{query}}"
  </h3>
  {% if users %} {% for user in users %} {% for user in user %}
  <div
    class="w-fit mx-auto flex items-end border-2 rounded-md shadow-md border-gray-500/25"
  >
    <img src="{{user[4]}}" class="w-20 m-2" />
    <a href="/user/{{user[1]|lower}}" class="m-2">{{user[1]}}</a>
  </div>
  {% endfor %} {% endfor %} {% endif %} {% if posts %} {% for post in posts %}
  {% for post in post %}
  <div
    class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 h-fit mx-auto py-4 px-2 my-8 border-2 rounded-md shadow-md
  border-gray-500/25"
  >
    <a
      href="/post/{{post[0]}}"
      class="text-rose-500 h-64 pb-8 text-2xl hover:text-rose-500/75 duration-150 select-none"
      >{{post[1]}}</a
    >
    <div tag="content" class="h-60 overflow-y-hidden mt-6 mb-3 break-words">
      {{post[3]|safe}}
    </div>
    <a
      href="/post/{{post[0]}}"
      class="text-rose-500 hover:text-rose-500/75 duration-150 select-none"
      >read more</a
    >
  </div>
  {% endfor %} {% endfor %} {% endif %} {% if empty%}
  <h3 class="text-red-500 font-medium text-2xl text-center mt-4 select-none">
    not found
  </h3>
  {% endif %}
</div>
{% endblock body %}
