{% extends 'layout.html.jinja' %}

{% block head %}
<!-- Set the title of the page to "Signup" -->
<title>Signup</title>
{% endblock head %}

{% block body %}
<div class="w-fit mx-auto mt-24 md:mt-44 text-center text-xl">
  {% if recaptcha %}
  <!-- Include reCAPTCHA scripts if recaptcha is enabled -->
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>

  <!-- Signup form with reCAPTCHA -->
  <form method="post" id="recaptchaForm" action="{{ url_for('signup.signup') }}">
    <!-- CSRF token for form security -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <!-- Form fields for username, email, password, and password confirmation -->
    {{form.userName(autocomplete="off")}}
    {{form.email(autocomplete="off")}}
    {{form.password()}}
    {{form.passwordConfirm()}}

    <!-- Signup button with reCAPTCHA integration -->
    <button type="submit" data-sitekey="{{ siteKey }}" data-callback="onSubmit" data-action="submit"
      class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
      Signup
    </button>
  </form>
  {% else %}
  <!-- Signup form without reCAPTCHA -->
  <form method="post">
    <!-- CSRF token for form security -->
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

    <!-- Form fields for username, email, password, and password confirmation -->
    {{form.userName(autocomplete="off")}}
    {{form.email(autocomplete="off")}}
    {{form.password()}}
    {{form.passwordConfirm()}}

    <!-- Signup button without reCAPTCHA integration -->
    <button type="submit" class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none">
      Signup
    </button>
  </form>
  {% endif %}

  <!-- App Privacy Policy warning text -->
  <div class="text-xs select-none">By signing up, you accept <a href="/privacyPolicy"
      class="font-medium text-rose-500 hover:text-rose-600 duration-150">Privacy Policy</a></div>
</div>
{% endblock body %}