{% extends 'layout.html.jinja' %}

{% block head %}
<!-- Set the title of the page to "RECAPTCHA ERROR" -->
<title>reCAPTCHA Error</title>
{% endblock head %}

{% block body %}
<div class="w-fit mx-auto mt-32 text-2xl text-center font-medium select-none">
  <!-- Display a message indicating that RECAPTCHA verification has failed -->
  <h1>reCAPTCHA Verification has failed.</h1>
  <h1>Please submit the form again.</h1>
</div>
{% endblock body %}