{% extends 'layout.html'%} {%block head%}
<title>{{user[1]}}</title>
{% endblock head %} {%block body%}
<div>
  <div class="w-80 mx-auto text-center mt-8 select-none">
    <section class="mb-4">
      <img class="w-16 mx-auto" src="{{user[4]}}" alt="{{user[1]}}" />
      <h2>{{user[1]}}</h2>
    </section>
    <section class="flex w-full justify-between my-2">
      <p>Role: {{user[5]}}</p>
      <p>Views: {{views}}</p>
    </section>
    <section class="flex w-full justify-between my-2">
      <p>Join Date: {{user[7]}}</p>
      <p>Points: {{user[6]}}</p>
    </section>
    <section class="flex w-full justify-between my-2">
      {% if session["userName"] == user[1] %}
      <a href="/accountsettings" class="hover:text-rose-500 duration-150"
        >account settings</a
      >
      <a href="/dashboard/{{user[1]}}" class="hover:text-rose-500 duration-150"
        >dashboard</a
      >
      {% endif %} {% if user[5] == "admin" and session["userName"] == user[1] %}
      <a href="/admin" class="hover:text-rose-500 duration-150">admin panel</a>
      {% endif %}
    </section>
    {% if "userName" in session and session['userName'] == "{{user[1]}}"%}
    <a
      href="/dashboard/{{session['userName']}}"
      class="hover:text-rose-500 duration-150"
      >dashboard</a
    >
    {% endif %}
  </div>
  {% if showPosts %}
  <h1 class="my-4 text-center text-2xl text-rose-500 select-none">Posts</h1>
  {% for post in posts %}
  <div
    class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 h-96 mx-auto py-4 px-2 mb-8 border-2 rounded-md shadow-md
  border-gray-500/25"
  >
    <a
      href="/post/{{post[0]}}"
      class="text-rose-500 h-64 pb-8 text-2xl hover:text-rose-500/75 duration-150 select-none"
      >{{post[1]}}</a
    >
    <div tag="content" class="h-60 overflow-y-hidden mt-6 mb-3 break-words">
      {{post[3]|safe}}
    </div>
    <p class="select-none">...</p>
    <a
      href="post/{{post[0]}}"
      class="text-rose-500 hover:text-rose-500/75 duration-150 select-none"
    >
      go to post</a
    >
  </div>
  {% endfor %} {% endif %} {% if showComments %}
  <h1 class="mb-4 text-center text-2xl text-rose-500 select-none">Comments</h1>
  {% for comment in comments %}
  <div
    class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 mx-auto py-4 px-2 mb-8 border-2 rounded-md shadow-md
  border-gray-500/25"
  >
    <div tag="content my-2">{{comment[2]}}</div>
    <section class="flex w-full justify-between my-2">
      <p>Creation Date: {{comment[4]}}</p>
      <p>Creation Time: {{comment[5]}}</p>
    </section>
    <a
      href="/post/{{comment[1]}}"
      class="text-rose-500 hover:text-rose-500/75 duration-150 select-none my-2"
      >go to post</a
    >
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock body %}
