{% extends 'layout.html'%} {%block head%}
<title>{{user[1]}}</title>
{% endblock head %} {%block body%}
<div>
  <div
    class="w-11/12 md:w-10/12 lg:w-6/12 xl:w-5/12 mx-auto text-center mt-8 select-none border border-gray-500/25 p-2 rounded shadow"
  >
    <section class="mb-4">
      <img class="w-16 mx-auto" src="{{user[4]}}" alt="{{user[1]}}" />
      <h2 class="mx-2">{{user[1]}}</h2>
    </section>
    <section class="flex w-full justify-between my-4">
      <div class="flex items-center">
        <i class="ti ti-user mr-1 text-xl"></i>
        <p class="hidden md:block">Role:</p>
        <p class="ml-2">{{user[5]}}</p>
      </div>
      <div class="flex items-center">
        <i class="ti ti-eye mr-1 text-xl"></i>
        <p class="hidden md:block">Views:</p>
        <p class="ml-2">{{views}}</p>
      </div>
    </section>
    <section class="flex w-full justify-between my-4">
      <div class="flex items-center">
        <i class="ti ti-calendar mr-1 text-xl"></i>
        <p class="hidden md:block">Join Date:</p>
        <p class="ml-2">{{user[7]}}</p>
      </div>
      <div class="flex items-center">
        <i class="ti ti-sparkles mr-1 text-xl"></i>
        <p class="hidden md:block">Points:</p>
        <p class="ml-2">{{user[6]}}</p>
      </div>
    </section>
    <section class="flex w-full justify-between my-4">
      {% if session["userName"] == user[1] %}
      <div class="flex items-center w-fit hover:text-rose-500 duration-150">
        <a href="/accountsettings"
          ><i class="ti ti-settings mr-1 text-xl"></i
        ></a>
        <a href="/accountsettings" class="hidden md:block">account settings</a>
      </div>
      <div class="flex items-center w-fit hover:text-rose-500 duration-150">
        <a href="/dashboard/{{user[1]}}"
          ><i class="ti ti-clipboard-text mr-1 text-xl"></i
        ></a>
        <a href="/dashboard/{{user[1]}}" class="hidden md:block">dashboard</a>
      </div>
      {% endif %} {% if user[5] == "admin" and session["userName"] == user[1] %}
      <div class="flex items-center w-fit hover:text-rose-500 duration-150">
        <a href="/admin"><i class="ti ti-tie mr-1 text-xl"></i></a>
        <a href="/admin" class="hidden md:block">admin panel</a>
      </div>
      {% endif %}
    </section>
    {% if "userName" in session and session['userName'] == "{{user[1]}}"%}
    <div class="flex items-center w-fit hover:text-rose-500 duration-150">
      <a href="/dashboard/{{session['userName']}}"
        ><i class="ti ti-clipboard-text mr-1 text-xl"></i
      ></a>
      <a href="/dashboard/{{session['userName']}}" class="hidden md:block"
        >dashboard</a
      >
    </div>
    {% endif %}
  </div>
  {% if showPosts %}
  <h1 class="my-4 text-center text-2xl text-rose-500 select-none">Posts</h1>
  {% for post in posts %}
  <div
    class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 h-fit mx-auto py-4 px-2 mb-8 border-2 rounded-md shadow-md
  border-gray-500/25"
  >
    <a
      href="/post/{{post[0]}}"
      class="text-rose-500 h-64 pb-8 text-2xl hover:text-rose-500/75 duration-150 select-none"
      >{{post[1]}}</a
    >
    <div tag="content" class="h-60 overflow-y-hidden mt-6 mb-3 break-words">
      {{post[3]|safe}}
    </div>
    <p class="select-none">...</p>
    <a
      href="/post/{{post[0]}}"
      class="text-rose-500 hover:text-rose-500/75 duration-150 select-none"
    >
      go to post</a
    >
  </div>
  {% endfor %} {% endif %} {% if showComments %}
  <h1 class="mb-4 text-center text-2xl text-rose-500 select-none">Comments</h1>
  {% for comment in comments %}
  <div
    class="w-11/12 md:w-10/12 lg:w-3/4 xl:w-1/2 mx-auto py-4 px-2 mb-8 border-2 rounded-md shadow-md
  border-gray-500/25"
  >
    <div tag="content my-2">{{comment[2]}}</div>
    <section class="flex w-full justify-between my-2">
      <p class="flex items-center">
        <i class="ti ti-calendar mr-1 text-xl"></i>{{comment[4]}}
      </p>
      <p class="flex items-center">
        <i class="ti ti-clock mr-1 text-xl"></i>{{comment[5]}}
      </p>
    </section>
    <a
      href="/post/{{comment[1]}}"
      class="text-rose-500 hover:text-rose-500/75 duration-150 select-none my-2"
      >go to post</a
    >
  </div>
  {% endfor %} {% endif %}
</div>
{% endblock body %}
