{% extends 'layout.html'%} {%block head%}
<title>Verify Account</title>
{% endblock head %} {%block body%}
<div class="w-fit mx-auto mt-32 select-none">
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if mailSent %} {{form.code(autocomplete="off")}}
    <button
      type="submit"
      class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
    >
      Verify Account
    </button>
    {% else %}
    <button
      type="submit"
      class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium"
    >
      Click for send verification code
    </button>
    {% endif %}
  </form>
</div>
{% endblock body %}
