{% extends 'layout.html' %} {% block head %}
<title>{{ translations.changePassword.title }}</title>
{% endblock head %} {% block body %}
<div class="text-center mt-32">
    <form method="post" class="mx-auto w-fit mt-8">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{
        form.oldPassword(class_="input input-bordered w-full my-2", placeholder=translations.changePassword.currentPassword
        ) }} {{
        form.password(class_="input input-bordered w-full my-2", placeholder=translations.changePassword.newPassword) }} {{
        form.passwordConfirm(class_="input input-bordered w-full my-2", placeholder=translations.changePassword.confirmPassword
        ) }}
        <button
            type="submit"
            class="btn btn-neutral mt-4"
        >
            {{ translations.changePassword.change }}
        </button>
    </form>
</div>
{% endblock body %}
