{% extends 'layout.html' %} {% block head %}
<title>{{ translations.changeLanguage.title }}</title>
{% endblock head %} {% block body %}
<div class="text-center mt-24 flex flex-col text-lg">
    <h1 class="text-xl font-bold select-none mb-4">
        {{ translations.changeLanguage.title }}
    </h1>
    <a href="/setLanguage/en" class="m-2 hover:text-rose-500 duration-150">
        🇬🇧 English
    </a>
    <a href="/setLanguage/tr" class="m-2 hover:text-rose-500 duration-150">
        🇹🇷 Türkçe
    </a>
    <a href="/setLanguage/de" class="m-2 hover:text-rose-500 duration-150">
        🇩🇪 Deutsch
    </a>
    <a href="/setLanguage/es" class="m-2 hover:text-rose-500 duration-150">
        🇪🇸 Español
    </a>
    <a href="setLanguage/pl" class="m-2 hover:text-rose-500 duration-150">
        🇵🇱 Polski
    </a>
    <a href="/setLanguage/fr" class="m-2 hover:text-rose-500 duration-150">
        🇫🇷 Français
    </a>
    <a href="/setLanguage/pt" class="m-2 hover:text-rose-500 duration-150">
        🇵🇹 Português
    </a>
    <a href="/setLanguage/uk" class="m-2 hover:text-rose-500 duration-150">
        🇺🇦 Українська
    </a>
    <a href="/setLanguage/ru" class="m-2 hover:text-rose-500 duration-150">
        🇷🇺 Русский
    </a>
    <a href="/setLanguage/ja" class="m-2 hover:text-rose-500 duration-150">
        🇯🇵 日本人
    </a>
    <a href="/setLanguage/zh" class="m-2 hover:text-rose-500 duration-150">
        🇨🇳 中国人
    </a>
</div>
{% endblock body %}
