{% extends 'layout.html' %} {% block head %}
<title>{{translations.changeUserName.title}}</title>
{% endblock head %} {% block body %}
<div class="text-center mt-32">
    <form method="post" class="mx-auto w-fit mt-8">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {{ form.new_user_name(class_="input input-bordered w-full my-2", placeholder=translations.changeUserName.placeholder)
        }}
        <button
            type="submit"
            class="btn btn-neutral mt-4"
        >
            {{translations.changeUserName.change}}
        </button>
    </form>
</div>
{% endblock body %}
