{% extends 'layout.html' %} {% block head %}
<title>{{ translations.createPost.title }}</title>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/markdownEditor.css') }}"
/>
{% endblock head %} {% block body %}
<div class="w-fit mx-auto mt-8">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{ form.postTitle(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.createPost.titlePlaceholder)
        }} {{ form.postTags(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.createPost.tags) }} {{
        form.postAbstract(class_="textarea textarea-bordered w-full my-2",
        autocomplete="off",placeholder=translations.createPost.abstractPlaceholder)
        }}
        <p class="text-xs text-center w-fit mx-auto mb-2">
            {{ translations.createPost.separate }}
        </p>

        <div class="w-72 mx-auto text-center mb-4">
            <label class="block mt-2 mb-1"
                >{{ translations.createPost.banner }}</label
            >
            {{ form.postBanner(class_="file-input file-input-bordered w-full",
            placeholder=translations.createPost.bannerPlaceholder) }}
        </div>

        <div class="mx-auto w-fit">
            <label class="block my-1 text-center"
                >{{ translations.createPost.category }}</label
            >
            <select
                class="select select-bordered w-72"
                id="postCategory"
                name="postCategory"
                required=""
            >
                <option value="Apps">{{translations.categories.apps}}</option>
                <option value="Art">{{ translations.categories.art }}</option>
                <option value="Books">
                    {{ translations.categories.books }}
                </option>
                <option value="Business">
                    {{ translations.categories.business }}
                </option>
                <option value="Code">{{ translations.categories.code }}</option>
                <option value="Education">
                    {{ translations.categories.education }}
                </option>
                <option value="Finance">
                    {{ translations.categories.finance }}
                </option>
                <option value="Foods">
                    {{ translations.categories.foods }}
                </option>
                <option value="Games">
                    {{ translations.categories.games }}
                </option>
                <option value="Health">
                    {{ translations.categories.health }}
                </option>
                <option value="History">
                    {{ translations.categories.history }}
                </option>
                <option value="Movies">
                    {{ translations.categories.movies }}
                </option>
                <option value="Music">
                    {{ translations.categories.music }}
                </option>
                <option value="Nature">
                    {{ translations.categories.nature }}
                </option>
                <option value="Science">
                    {{ translations.categories.science }}
                </option>
                <option value="Series">
                    {{ translations.categories.series }}
                </option>
                <option value="Sports">
                    {{ translations.categories.sports }}
                </option>
                <option value="Technology">
                    {{ translations.categories.technology }}
                </option>
                <option value="Travel">
                    {{ translations.categories.travel }}
                </option>
                <option value="Web">{{ translations.categories.web }}</option>
                <option value="Other">
                    {{ translations.categories.other }}
                </option>
            </select>
        </div>

        <div>
            {{ form.postContent(class_="textarea textarea-bordered w-full h-96",
            id_="markdown-editor", autocomplete="off") }}
        </div>

        <button type="submit" class="btn btn-neutral btn-block mt-4">
            {{ translations.createPost.post }}
        </button>
    </form>
    <script src="{{ url_for('static', filename='js/markdownEditor.js') }}"></script>
</div>
{% endblock body %}
