{% extends 'layout.html'%} {%block head%}
<title>{{translations.login.title}}</title>
{% endblock head %} {%block body%}
<div class="hero min-h-screen max-w-128 mx-auto">
    <div class="card bg-base-100 w-10/12 max-w-sm shrink-0 shadow-2xl">
        {% if recaptcha %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>
        <form method="post" id="recaptchaForm">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="card-body">
                <h1 class="text-3xl font-bold self-center">
                    {{translations.login.title}}
                </h1>
                <fieldset class="fieldset">
                    <label class="label">{{translations.login.username}}</label>
                    {{form.userName(autocomplete="off", class="input input-bordered w-full")}}
                    <label class="label">{{translations.login.password}}</label>
                    {{form.password(autocomplete="off", class="input input-bordered w-full")}}
                    <div>
                        <a
                            class="link link-hover"
                            href="/passwordreset/codesent=false"
                            >{{translations.login.forgot}}</a
                        >
                    </div>
                    <button
                        class="g-recaptcha btn btn-neutral mt-4"
                        type="submit"
                    >
                        {{translations.login.title}}
                    </button>
                </fieldset>
            </div>
        </form>
        {% else %}
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="card-body">
                <h1 class="text-3xl font-bold self-center">
                    {{translations.login.title}}
                </h1>
                <fieldset class="fieldset">
                    <label class="label">{{translations.login.username}}</label>
                    {{form.userName(autocomplete="off", class="input input-bordered w-full")}}
                    <label class="label">{{translations.login.password}}</label>
                    {{form.password(autocomplete="off", class="input input-bordered w-full")}}
                    <div>
                        <a
                            class="link link-hover"
                            href="/passwordreset/codesent=false"
                            >{{translations.login.forgot}}</a
                        >
                    </div>
                    <button class="btn btn-neutral mt-4" type="submit">
                        {{translations.login.title}}
                    </button>
                </fieldset>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock body %}
