{% extends 'layout.html' %} {% block head %}
<title>{{ translations.passwordReset.title }}</title>
{% endblock head %} {% block body %}
<div class="w-fit mx-auto text-center mt-32">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        {% if mailSent %} {{ form.username(class_="input input-bordered w-full
        my-2",
        autocomplete="off",placeholder=translations.passwordReset.username) }}
        {{ form.code(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.passwordReset.codePlaceholder)
        }} {{ form.password(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.passwordReset.newPassword)
        }} {{ form.password_confirm(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.passwordReset.confirmPassword)
        }}
        <button type="submit" class="btn btn-neutral mt-4">
            {{ translations.passwordReset.reset }}
        </button>
        {% else %} {{ form.username(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.passwordReset.username) }}
        {{ form.email(class_="input input-bordered w-full my-2",
        autocomplete="off",placeholder=translations.passwordReset.email) }}
        <button type="submit" class="btn btn-neutral mt-4">
            {{ translations.passwordReset.code }}
        </button>
        {% endif %}
    </form>
</div>
{% endblock body %}
