{% extends 'layout.html' %}
{% block head %}
<title>{{translations.privacyPolicy.title}}</title>
{% endblock head %}
{% block body %}
<div class="w-10/12 md:w-4/6 lg:w-6/12 xl:w-5/12 mx-auto mt-16">
    <h1 class="text-3xl font-bold mb-4">{{translations.privacyPolicy.title}}</h1>
    <p class="mb-4">{{translations.privacyPolicy.intro}}</p>

    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.information}}</h2>
    <p class="mb-4">{{translations.privacyPolicy.informationText}}</p>
    <ul class="list-disc ml-8 mb-4">
        <li>{{translations.privacyPolicy.informationUser}}</li>
        <li>{{translations.privacyPolicy.informationPost}}</li>
        <li>{{translations.privacyPolicy.informationGeneral}}</li>
    </ul>

    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.cookies}}</h2>
    <p class="mb-4">O{{translations.privacyPolicy.cookiesText}}</p>
    <ul class="list-disc ml-8 mb-4">
        <li>{{translations.privacyPolicy.cookiesTheme}}</li>
        <li>{{translations.privacyPolicy.cookiesLanguage}}</li>
    </ul>
    </ul>

    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.serviceProviders}}</h2>
    <p class="mb-4">{{translations.privacyPolicy.serviceProvidersText}}</p>

    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.otherLinks}}</h2>
    <p class="mb-4">{{translations.privacyPolicy.otherLinksText}}</p>

    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.security}}</h2>
    <p class="mb-4">{{translations.privacyPolicy.securityText}}</p>

    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.children}}</h2>
    <p class="mb-4">{{translations.privacyPolicy.childrenText}}</p>

    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.changes}}</h2>
    <p class="mb-4">{{translations.privacyPolicy.changesText}}</p>

    <h2 class="text-2xl font-semibold mb-2">{{translations.privacyPolicy.contact}}</h2>
    <p>{{translations.privacyPolicy.contactText}}
        <a href="mailto:dogukanurker@icloud.com"
            class="text-rose-500 hover:text-rose-600 duration-150">dogukanurker@icloud.com</a>.
    </p>
</div>

<div class="text-center mt-8 mb-2 text-xs font-medium">
    <div class="mb-1">
        <a href="/about" class="text-rose-500 hover:text-rose-600 duration-150" target="_blank">{{
            translations.about.title }}</a>
    </div>
    {{ translations.about.credits | safe }}
</div>
{% endblock body %}
