{% extends 'layout.html' %} {% block head %}
<title>{{translations.signup.title}}</title>
{% endblock head %} {% block body %}
<div class="w-fit mx-auto mt-24 md:mt-44 text-center text-xl">
    {% if recaptcha %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ url_for('static', filename='js/recaptcha.js') }}"></script>

    <form
        method="post"
        id="recaptchaForm"
        action="{{ url_for('signup.signup') }}"
    >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{form.userName(autocomplete="off",placeholder=translations.signup.username)}}
        {{form.email(autocomplete="off",placeholder=translations.signup.email)}}
        {{form.password(placeholder=translations.signup.password)}}
        {{form.passwordConfirm(placeholder=translations.signup.confirm)}}

        <button
            type="submit"
            data-sitekey="{{ siteKey }}"
            data-callback="onSubmit"
            data-action="submit"
            class="g-recaptcha block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none"
        >
            {{translations.signup.title}}
        </button>
    </form>
    {% else %}
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        {{form.userName(autocomplete="off",placeholder=translations.signup.username)}}
        {{form.email(autocomplete="off",placeholder=translations.signup.email)}}
        {{form.password(placeholder=translations.signup.password)}}
        {{form.passwordConfirm(placeholder=translations.signup.confirm)}}

        <button
            type="submit"
            class="block mx-auto m-2 hover:text-rose-500 duration-150 font-medium select-none"
        >
            {{translations.signup.title}}
        </button>
    </form>
    {% endif %}

    <div class="text-xs select-none">
        {{translations.signup.by}}
        <a
            href="/privacyPolicy"
            class="font-medium text-rose-500 hover:text-rose-600 duration-150"
            >{{translations.signup.policy}}</a
        >
    </div>
</div>
{% endblock body %}
